<div class="section-primary section-primary--alt">
    <div class="shell shell--size2">
        <div class="section__body">
            <div class="section__content-alt" *ngIf="plan == 'yearly'">
              <h5>You’ve picked Options Cafe Annual! Great!</h5>
              <p>
                We’ll charge your card $200 now and $200 each year thereafter.<br>
                If you ever change your mind, you can cancel any time, no questions asked.
              </p>
            </div>

            <div class="section__content-alt" *ngIf="plan == 'monthly'">
              <h5>You’ve picked Options Cafe Monthly! Great!</h5>
              <p>
                We’ll charge your card $20 now and $20 each month thereafter.<br>
                If you ever change your mind, you can cancel any time, no questions asked.
              </p>
            </div>

            <div class="article article--size2 article--primary">
                <div class="article__body article__body--size3">
                    <div class="form-info form-error">
                        
                        <app-settings-account-card [plan]="plan" formType="subscribe"></app-settings-account-card>

                    </div>
                </div>
            </div>
            
            <div class="section__foot section__foot--alternative">
              <p>If you have any questions please contact us.</p>
              <a href="http://help.options.cafe" class="btn btn--border" target="_blank">Contact Support</a>
            </div>

        </div>
    </div>
</div>