<app-layout-sub-nav></app-layout-sub-nav>

<div class="content__inner">
  <div class="shell shell--size3">
    <div class="articles">
      <div class="article">
        <div class="article__head">
          <h6>Brokers</h6>

          <a (click)="showAddBrokerPopup()" class="btn btn--pink">Add Broker</a>
        </div>

        <div class="article__body article__body--secondary">
          <div class="article__content">
            <p>Options Cafe works with outside brokers to place trades on your behave. Below you can manage the brokers you have linked with your Options Cafe account.</p>
          </div>

          <div class="features">


            <div class="feature" *ngFor="let row of brokers">

              <!-- Active -->
              <div class="feature__inner" *ngIf="row.Status == 'Active'">

                <div class="feature__head">
                  <a href="#" class="{{ getLogoClass(row) }} feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div>

                
                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>{{ row.DisplayName }}</h5>
                  </div>

                  <ul class="list-infos">

                    <li>
                      <h5>Accounts</h5>

                      <span *ngFor="let row2 of row.BrokerAccounts">
                        <h6 *ngIf="row2.Id == row.SettingsActiveBrokerAccount.Id" class="red font-14 mb-10">{{ row2.Name }} - {{ row2.AccountNumber }}</h6>

                        <h6 *ngIf="row2.Id != row.SettingsActiveBrokerAccount.Id" class="mb-10">
                          <a class="link" (click)="brokerAccountClick(row, row2)">{{ row2.Name }} - {{ row2.AccountNumber }}</a> 
                        </h6>
                      </span>

                    </li>

                    <li>
                      <h5>Stock Commission</h5>

                      <h6>{{ row.SettingsActiveBrokerAccount.StockCommission | currency:'USD':'symbol':'1.2-2' }}/Trade</h6>
                    </li>

                    <li>
                      <h5>Option Base Commission</h5>

                      <h6>{{ row.SettingsActiveBrokerAccount.OptionBase | currency:'USD':'symbol':'1.2-2' }}/Trade</h6>
                    </li>

                    <li>
                      <h5>Contract Commission</h5>

                      <h6>{{ row.SettingsActiveBrokerAccount.OptionCommission | currency:'USD':'symbol':'1.2-2' }}/Contract</h6>
                    </li>

                    <li>
                      <h5>Min. Stock Commission</h5>

                      <h6>{{ row.SettingsActiveBrokerAccount.StockMin | currency:'USD':'symbol':'1.2-2' }}/Trade</h6>
                    </li>

                    <li>
                      <h5>Min. Option Commission</h5>

                      <h6>{{ row.SettingsActiveBrokerAccount.OptionSingleMin | currency:'USD':'symbol':'1.2-2' }}/Contract</h6>
                    </li>

                   <li>
                      <h5>Min. Multi Leg Commission</h5>

                      <h6>{{ row.SettingsActiveBrokerAccount.OptionMultiLegMin | currency:'USD':'symbol':'1.2-2' }}/Contract</h6>
                    </li>
                  </ul>

                </div>
              </div>


              <!-- Disabled -->
              <div class="feature__inner" *ngIf="row.Status == 'Disabled'">
                <div class="feature__head">
                  <a href="#" class="{{ getLogoClass(row) }} feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div>

                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>{{ row.DisplayName }}</h5>
                  </div>

                  <div class="feature__content">
                    <h5>Lost link to broker</h5>

                    <p>
                      Account is closed or<br> 
                      login has changed
                    </p>

                    <i class="ico-broken"></i>

                    <a href="#" class="btn btn--pink">Relink Broker</a>
                  </div>
                </div>
              </div>

            </div>


          </div><!-- /.features -->
        </div><!-- /.article__body -->
      </div><!-- /.article -->
    </div><!-- /.articles -->
  </div><!-- /.shell shell-large -->
</div><!-- /.content__inner -->





<!-- ********************* Add / Edit Broker *********************  -->
<app-dialog [(visible)]="showAddEditBroker">

  <div class="popup-alt">
    <div class="popup__inner popup__inner--size2">
        <div class="article">
            <div class="article__head">
                <h6>Add Broker</h6>
            </div>

            <div class="article__body article__body--primary">
                <div class="form-info form-info--primary form-error">
                    <form (submit)="addBroker()">
                        <div class="form__body form__body--primary">
                          <a class="logo-tradier form__logo"></a>

<!--                             <div class="form__row">
                                <label for="f_broker">Broker</label>

                                <div class="form__controls">
                                    <div class="select select--primary">
                                        <select name="f_broker" id="f_broker">
                                            <option value="option-1" selected >Tradier</option>

                                            <option value="option-2" >Broker</option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->

                            <div class="form__row">
                              <label for="f_display">Display Name</label>

                              <div class="form__controls">
                                <input type="text" class="field form__field form__field--size1" name="addBrokerDisplayName" id="f_display" placeholder="Main Account" [(ngModel)]="addBrokerDisplayName" />
                              </div>
                            </div>

                            <div class="form__hint" *ngIf="addBrokerError.length > 0">{{ addBrokerError }}</div>
                        </div>

                        <div class="form__actions form__actions--primary">
                          <a (click)="closeShowAddEditBroker()" class="link-alt">Cancel</a>
                          <a (click)="addBroker()" class="btn btn--pink btn--size2">Add Broker</a>
                        </div>

                    </form>
                </div><!-- /.form -->
            </div><!-- /.article__body -->
        </div><!-- /.article -->
    </div><!-- /.popup__inner -->
  </div><!-- /.popup -->

</app-dialog>
