<app-layout-sub-nav></app-layout-sub-nav>

<div class="content__inner">
  <div class="shell shell--size3">
    <div class="articles">
      <div class="article">
        <div class="article__head">
          <h6>Brokers</h6>

          <a href="#" class="btn btn--pink">Add Broker</a>
        </div><!-- /.article__head -->

        <div class="article__body article__body--secondary">
          <div class="article__content">
            <p>
              Nam eget felis tristique, semper ligula in, aliquam ante. Nulla facilisi. Ut convallis mi augue, eu sollicitudin risus vulputate at. Fusce dolor elit, lacinia vitae nibh quis, ullamcorper eleifend ligula. Nam eget felis tristique, semper ligula in, aliquam ante. Nulla facilisi. Ut convallis mi augue, eu sollicitudin risus vulputate at. Fusce dolor elit, lacinia vitae nibh quis, ullamcorper eleifend ligula. 
            </p>
          </div><!-- /.article__content -->

          <div class="features">
            <div class="feature">
              <div class="feature__inner">
                <div class="feature__head">
                  <a href="#" class="logo-tradier feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div><!-- /.feature__head -->

                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>Tradier</h5>

                    <h5>Main Account</h5>
                  </div><!-- /.feature__head-alt -->

                  <ul class="list-infos">
                    <li>
                      <h5>Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Option Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Contract Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Min. Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Min. Option Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Accounts</h5>

                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                      
                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                      
                      <h6>52963215487932596418</h6>
                    </li>
                  </ul><!-- /.list-infos -->
                </div><!-- /.feature__body -->
              </div><!-- /.feature__inner -->
            </div><!-- /.feature -->

            <div class="feature">
              <div class="feature__inner">
                <div class="feature__head">
                  <a href="#" class="logo-small feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div><!-- /.feature__head -->

                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>Paper Trader</h5>

                    <h5>Main Account</h5>
                  </div><!-- /.feature__head-alt -->

                  <ul class="list-infos">
                    <li>
                      <h5>Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Option Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Contract Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Min. Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Min. Option Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Accounts</h5>

                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                      
                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                    </li>
                  </ul><!-- /.list-infos -->
                </div><!-- /.feature__body -->
              </div><!-- /.feature__inner -->
            </div><!-- /.feature -->

            <div class="feature">
              <div class="feature__inner">
                <div class="feature__head">
                  <a href="#" class="logo-tradier feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div><!-- /.feature__head -->

                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>Tradier</h5>

                    <h5>Mom’s Account</h5>
                  </div><!-- /.feature__head-alt -->

                  <ul class="list-infos">
                    <li>
                      <h5>Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Option Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Contract Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Min. Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Min. Option Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Accounts</h5>

                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                    </li>
                  </ul><!-- /.list-infos -->
                </div><!-- /.feature__body -->
              </div><!-- /.feature__inner -->
            </div><!-- /.feature -->

            <div class="feature">
              <div class="feature__inner">
                <div class="feature__head">
                  <a href="#" class="logo-ally feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div><!-- /.feature__head -->

                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>Ally Invest</h5>

                    <h5>Main Account</h5>
                  </div><!-- /.feature__head-alt -->

                  <div class="feature__content">
                    <h5>Lost link to broker</h5>

                    <p>
                      Account is closed or<br> 
                      login has changed
                    </p>

                    <i class="ico-broken"></i>

                    <a href="#" class="btn btn--pink">Relink Broker</a>
                  </div><!-- /.feature__content -->
                </div><!-- /.feature__body -->
              </div><!-- /.feature__inner -->
            </div><!-- /.feature -->

            <div class="feature">
              <div class="feature__inner">
                <div class="feature__head">
                  <a href="#" class="logo-tradier feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div><!-- /.feature__head -->

                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>Tradier</h5>

                    <h5>Main Account</h5>
                  </div><!-- /.feature__head-alt -->

                  <ul class="list-infos">
                    <li>
                      <h5>Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Option Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Contract Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Min. Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Min. Option Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Accounts</h5>

                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                      
                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>

                      <h6>52963215487932596418</h6>
                    </li>
                  </ul><!-- /.list-infos -->
                </div><!-- /.feature__body -->
              </div><!-- /.feature__inner -->
            </div><!-- /.feature -->

            <div class="feature">
              <div class="feature__inner">
                <div class="feature__head">
                  <a href="#" class="logo-small feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div><!-- /.feature__head -->

                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>Tradier</h5>

                    <h5>Mom’s Account</h5>
                  </div><!-- /.feature__head-alt -->

                  <ul class="list-infos">
                    <li>
                      <h5>Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Option Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Contract Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Min. Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Min. Option Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Accounts</h5>

                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                      
                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                    </li>
                  </ul><!-- /.list-infos -->
                </div><!-- /.feature__body -->
              </div><!-- /.feature__inner -->
            </div><!-- /.feature -->

            <div class="feature">
              <div class="feature__inner">
                <div class="feature__head">
                  <a href="#" class="logo-tradier feature__logo"></a>

                  <a href="#" class="btn-square">
                    <i class="ico-settings"></i>
                  </a>
                </div><!-- /.feature__head -->

                <div class="feature__body">
                  <div class="feature__head-alt">
                    <h5>Tradier</h5>

                    <h5>Mom’s Account</h5>
                  </div><!-- /.feature__head-alt -->

                  <ul class="list-infos">
                    <li>
                      <h5>Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Option Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Contract Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Min. Stock Commission</h5>

                      <h6>$4.95/Trade</h6>
                    </li>

                    <li>
                      <h5>Min. Option Commission</h5>

                      <h6>$0.35/Contract</h6>
                    </li>

                    <li>
                      <h5>Accounts</h5>

                      <h6>32596418529632154879</h6>
                      
                      <h6>52963215487932596418</h6>
                    </li>
                  </ul><!-- /.list-infos -->
                </div><!-- /.feature__body -->
              </div><!-- /.feature__inner -->
            </div><!-- /.feature -->
          </div><!-- /.features -->
        </div><!-- /.article__body -->
      </div><!-- /.article -->
    </div><!-- /.articles -->
  </div><!-- /.shell shell-large -->
</div><!-- /.content__inner -->
