<app-trading-sub-nav></app-trading-sub-nav>

<app-trade></app-trade>

<div class="content__inner">
  <div class="shell shell--size6">
    <div class="section-secondary section-secondary--alt">
      <div class="articles">
        <div class="article article--teritary">
          
          <div class="article__head article__head__screener" [ngClass]="{ 'form-error': nameError}">
            <p *ngIf="runFirst && (! searching)">Change the filters below to find trade.</p>
            <p class="searching-text" *ngIf="searching">Searching can take a few minutes...</p>

            <input type="text" class="field field--alt" placeholder="Screen Name..." [(ngModel)]="screen.Name" *ngIf="! runFirst" [ngClass]="{ 'field-error': nameError}" />

            <div class="article__head-aside">
              <a routerLink="/screener" class="link-alt" *ngIf="! searching">Cancel</a>
              <a (click)="runScreen()" class="btn" *ngIf="runFirst">{{ runText }}</a>
              <a (click)="saveScreen()" class="btn btn--pink" *ngIf="! runFirst">Save</a>
            </div>
          </div>

          <div class="article__body article__body--size3">
            

            <div class="widget-screen">

              <p class="error-text" *ngIf="nameError">A screener name is required.</p>
              <p class="error-text" *ngIf="symbolError">An underlying symbol is required.</p>

              <div class="widget__bar mb-20">

                <div class="widget__col">
                  <div class="select select--primary select-only-one">
                    <select [(ngModel)]="screen.Strategy" disabled="disabled">
                      <option value="put-credit-spread" selected>Underlying Symbol</option>
                    </select>
                  </div>
                </div>

                <div class="widget__col widget__col--size1">
                  <div class="select select--primary select--primary-alt select-only-one">
                    <select name="field-1" disabled="disabled">
                      <option value="option-1" selected>=</option>
                    </select>
                  </div>
                </div>

                <div class="widget__col widget__col--size2">
                  <div class="field-container" [ngClass]="{ 'form-error': symbolError}">
                    <input type="text" class="field" placeholder="Symbol..." [ngClass]="{ 'field-error': symbolError}" [(ngModel)]="screen.Symbol" (keyup)="filterChange()" />
                  </div>

                  <div class="question">
                    <a href="#" class="link-question">
                      <i class="ico-question"></i>
                    </a>
                  </div>
                </div>

              </div>




              <div class="widget__bar">

                <div class="widget__col">
                  <div class="select select--primary select-only-one">
                    <select name="field-1" disabled="disabled">
                      <option value="option-1" selected>Strategy</option>
                    </select>
                  </div>
                </div>

                <div class="widget__col widget__col--size1">
                  <div class="select select--primary select--primary-alt select-only-one">
                    <select name="field-1" disabled="disabled">
                      <option value="option-1" selected>=</option>
                    </select>
                  </div>
                </div>

                <div class="widget__col widget__col--size2">
                  <div class="select select--primary">
                    <select name="field-1">
                      <option value="option-1" selected>Put Credit Spread</option>
                    </select>
                  </div>

                  <div class="question">
                    <a href="#" class="link-question">
                      <i class="ico-question"></i>
                    </a>
                  </div>
                </div>

              </div>


              <div *ngFor="let row of screen.Items;">

                <h5 class="and">And</h5>


                <div class="widget__bar">

                  <div class="widget__col">
                    <div class="select select--primary">
                      <select [(ngModel)]="row.Settings" (change)="filterChange()">
                        <option [ngValue]="row2" *ngFor="let row2 of itemSetttings;">{{ row2.Name }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="widget__col widget__col--size1">
                    <div class="select select--primary select--primary-alt">
                      <select [(ngModel)]="row.Operator" (change)="filterChange()">
                        <option [ngValue]="row2" *ngFor="let row2 of row.Settings.Operators;">{{ row2 }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="widget__col widget__col--size2">
                    <div class="select select--primary" *ngIf="row.Settings.Type == 'select-number'">
                      <select [(ngModel)]="row.ValueNumber" (change)="filterChange()">
                        <option [ngValue]="row2" *ngFor="let row2 of row.Settings.SelectValuesNumber;">{{ row2 }}</option>
                      </select>
                    </div>

                    <div class="field-container" *ngIf="row.Settings.Type == 'input-number'">
                      <input type="number" class="field" placeholder="" [(ngModel)]="row.ValueNumber" (keyup)="filterChange()" step="{{ row.Settings.Step }}" />
                    </div>

                    <div class="question">
                      <a href="#" class="link-question">
                        <i class="ico-question"></i>
                      </a>
                    </div>
                  </div>

                </div>

              </div>





              <div class="widget__actions widget__actions--alt">
                <a (click)="addFilter()" class="btn-add">
                  <i class="ico-plus-alt"></i>
                </a>
              </div>

            </div><!-- /.widget-screen -->
          </div><!-- /.article__body -->
        </div><!-- /.article -->
      </div><!-- /.articles -->

      <div class="widget-container">
        <div class="widget-options widget-options--def" *ngIf="! searching">
          <div class="widget__body">
            <div class="table-simple table-simple--size3 js-table">

              <table>
                <thead>
                  <tr>
                    <th class="darker">
                      <ins>Symbol</ins>
                    </th>

                    <th>
                      <ins>Expire</ins>
                    </th>

                    <th>
                      <ins>Spread</ins>
                    </th>

                    <th>
                      <ins>% Away</ins>
                    </th>

                    <th>
                      <ins>Credit</ins>
                    </th>

                    <th>
                      <ins>Midpoint</ins>
                    </th>

                    <th>
                      
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let row of results;">
                    <td>{{ row.Legs[0].OptionUnderlying }}</td>
                    
                    <td>{{ row.Legs[0].OptionExpire | date:'shortDate' }}</td>
                    
                    <td>{{ row.Legs[0].OptionStrike }} / {{ row.Legs[1].OptionStrike }}</td>
                    
                    <td>{{ row.PrecentAway | number:'1.2-2' }}%</td>
                    
                    <td>{{ row.Credit | currency:'USD':'symbol':'1.2-2' }}</td>
                    
                    <td>{{ row.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                    
                    <td>
                      <a href="#" class="btn-square">
                        <i class="ico-triangle"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div><!-- /.table -->
          </div><!-- /.widget__body -->


          <div class="widget__content-alt" *ngIf="(results.length <= 0) && (! searching)">
            <h5>No results.</h5>

            <h5>Try adjusting the screener filters.</h5>
          </div>


        </div>
      </div><!-- /.widget-container -->
    </div><!-- /.section -->
  </div><!-- /.shell shell-large -->
</div><!-- /.content__inner -->