<app-layout-sub-nav></app-layout-sub-nav>

<app-trade></app-trade>

<!-- ********************* Delete Screener *********************  -->
<app-dialog [(visible)]="showDeleteScreener">

  <div class="popup">
    <div class="shell shell--xxsmall">
      <div class="form form--menage">

        <form (ngSubmit)="onDeleteScreen()">
          <section class="form__section">
            <div class="form__head">
              <h6 class="form__title">Are you sure you want to delete this screen?</h6>
            </div> 

            <div class="form__actions">
              <div class="form__actions__inner">
                <a (click)="showDeleteScreener = !showDeleteScreener" class="link-action link-action--small popup--close">Cancel</a>  

                <input type="submit" value="Delete" class="btn btn--red form__btn" />
              </div>
            </div>
          </section>
        </form>

      </div>
    </div>
  </div>

</app-dialog>
<!-- ******************************************  -->


<div class="content__inner">
  <div class="shell shell--size6">
    <div class="section-secondary section-secondary--alt">
      <div class="articles">
        <div class="article article--teritary">
          
          <div class="article__head article__head__screener" [ngClass]="{ 'form-error': nameError}">
            <p *ngIf="runFirst && (! searching)">Change the filters below to find trade.</p>
            <p class="searching-text" *ngIf="searching">Searching can take a few minutes...</p>

            <input type="text" class="field field--alt" placeholder="Screen Name..." [(ngModel)]="screen.Name" *ngIf="! runFirst" [ngClass]="{ 'field-error': nameError}" />

            <div class="article__head-aside">
              <a routerLink="/screener" class="link-alt" *ngIf="(! searching)">Cancel</a>
              <a (click)="runScreen()" class="btn" *ngIf="runFirst">{{ runText }}</a>
              <a (click)="saveScreen()" class="btn btn--pink" *ngIf="! runFirst">Save</a>
            </div>
          </div>

          <div class="article__body article__body--size3">
            

            <div class="widget-screen">

              <p class="error-text" *ngIf="nameError">A screener name is required.</p>
              <p class="error-text" *ngIf="symbolError">An underlying symbol is required.</p>

              <div class="widget__bar mb-20">

                <div class="widget__col">
                  <div class="select select--primary select-only-one">
                    <select disabled="disabled">
                      <option value="symbol" selected>Underlying Symbol</option>
                    </select>
                  </div>
                </div>

                <div class="widget__col widget__col--size1">
                  <div class="select select--primary select--primary-alt select-only-one">
                    <select name="field-1" disabled="disabled">
                      <option value="option-1" selected>=</option>
                    </select>
                  </div>
                </div>

                <div class="widget__col widget__col--size2">
                  <div class="field-container" [ngClass]="{ 'form-error': symbolError}">
                    <input type="text" class="field" placeholder="Symbol..." [ngClass]="{ 'field-error': symbolError}" [(ngModel)]="screen.Symbol" (keyup)="filterChange()" />
                  </div>

                  <div class="question title-question">
                    <app-shared-tool-tip
                      [show]="false" 
                      [title]="underlyingSymbolHelpTitle" 
                      [message]="underlyingSymbolHelpBody"></app-shared-tool-tip>
                  </div>
                </div>

              </div>




              <div class="widget__bar">

                <div class="widget__col">
                  <div class="select select--primary select-only-one">
                    <select name="field-1" disabled="disabled">
                      <option value="option-1" selected>Strategy</option>
                    </select>
                  </div>
                </div>

                <div class="widget__col widget__col--size1">
                  <div class="select select--primary select--primary-alt select-only-one">
                    <select name="field-1" disabled="disabled">
                      <option value="option-1" selected>=</option>
                    </select>
                  </div>
                </div>

                <div class="widget__col widget__col--size2">
                  <div class="select select--primary">
                    <select name="Strategy" [(ngModel)]="screen.Strategy" (change)="strategyChange()">
                      <option value="put-credit-spread">Put Credit Spread</option>
                      <option value="iron-condor">Iron Condor</option>
                      <option value="reverse-iron-condor">Reverse Iron Condor</option>
                    </select>
                  </div>

                  <div class="question title-question">
                    <app-shared-tool-tip
                      [show]="false" 
                      [title]="strategyHelpTitle" 
                      [message]="strategyHelpBody"></app-shared-tool-tip>
                  </div>
                </div>

              </div>


              <div *ngFor="let row of screen.Items">

                <h5 class="and">And</h5>


                <div class="widget__bar">

                  <div class="widget__col">
                    <div class="select select--primary">
                      <select [(ngModel)]="row.Settings" (change)="filterChange()">
                        <option [ngValue]="row2" *ngFor="let row2 of itemSetttings[screen.Strategy];">{{ row2.Name }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="widget__col widget__col--size1">
                    <div class="select select--primary select--primary-alt">
                      <select [(ngModel)]="row.Operator" (change)="filterChange()">
                        <option [ngValue]="row2" *ngFor="let row2 of row.Settings.Operators;">{{ row2 }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="widget__col widget__col--size2">
                    <div class="select select--primary" *ngIf="row.Settings.Type == 'select-number'">
                      <select [(ngModel)]="row.ValueNumber" (change)="filterChange()">
                        <option [ngValue]="row2" *ngFor="let row2 of row.Settings.SelectValuesNumber;">{{ row2 }}</option>
                      </select>
                    </div>

                    <div class="field-container" *ngIf="row.Settings.Type == 'input-number'">
                      <input type="number" class="field" placeholder="" [(ngModel)]="row.ValueNumber" (keyup)="filterChange()" step="{{ row.Settings.Step }}" />
                    </div>

                    <div class="question title-question">

                      <a class="link-question" (click)="openToolTip(row.Settings.Key)">
                        <i class="ico-question"></i>
                      </a>

                      <div class="title-question__tooltip" *ngIf="toolTips.get(row.Settings.Key).Show">
                        <h5>{{ toolTips.get(row.Settings.Key).Title }}</h5>

                        <p [innerHTML]="toolTips.get(row.Settings.Key).Body"></p>
                      </div>

                    </div>
                  </div>

                </div>

              </div>





              <div class="widget__actions widget__actions--alt">
                <a (click)="addFilter()" class="btn-add">
                  <i class="ico-plus-alt"></i>
                </a>

                <a (click)="deleteScreen()" class="link-alt delete-btn" *ngIf="(! searching) && editId">Delete Screen</a>
              </div>



              <div class="widget__bar-alt" *ngIf="newLoad">
                <h6 class="title-arrow title-arrow--double">Get started by making selections in the drop down menus</h6>
              </div>



            </div><!-- /.widget-screen -->
          </div><!-- /.article__body -->
        </div><!-- /.article -->
      </div><!-- /.articles -->




      <div class="widget-container">



        <div class="widget-options widget-options--alt screen-preview-first-run" *ngIf="newLoad">
          <h4>Find your next trade with our screener!</h4>

          <div class="widget__body">
            <div class="table-simple table-simple--size2 js-table">
              <table>
                <thead>
                  <tr>
                    <th class="darker">
                      <ins>Symbol</ins>
                    </th>

                    <th>
                      <ins>Expire</ins>
                    </th>

                    <th>
                      <ins>Spread</ins>
                    </th>

                    <th>
                      <ins>% Away</ins>
                    </th>

                    <th>
                      <ins>Credit</ins>
                    </th>

                    <th>
                      <ins>Midpoint</ins>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>AAPL</td>
                    
                    <td>11/3/17</td>
                    
                    <td>198 / 202</td>
                    
                    <td>6.22%</td>
                    
                    <td>$0.22</td>
                    
                    <td>$0.23</td>
                  </tr>

                  <tr class="active">
                    <td>AAPL</td>
                    
                    <td>10/05/17</td>
                    
                    <td>190 / 240</td>
                    
                    <td>4.10%</td>
                    
                    <td>$0.19</td>
                    
                    <td>$0.20</td>
                  </tr>

                  <tr>
                    <td>AAPL</td>
                    
                    <td>9/24/17</td>
                    
                    <td>211 / 217</td>
                    
                    <td>2.98%</td>
                    
                    <td>$0.11</td>
                    
                    <td>$0.18</td>
                  </tr>

                  <tr>
                    <td>AAPL</td>
                    
                    <td>9/22/17</td>
                    
                    <td>208 / 214</td>
                    
                    <td>3.05%</td>
                    
                    <td>$0.13</td>
                    
                    <td>$0.19</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.table -->
          </div><!-- /.widget__body -->
        </div>








        <div class="widget-options widget-options--def" *ngIf="(! searching) && (! newLoad)">
          <div class="widget__body">
            <div class="table-simple table-simple--size3 js-table">

              <div class="banner banner--info banner--large" *ngIf="results.length >= 100" style="max-width: unset;">
                <h6 class="banner__title">
                  <strong>You Have More Than 100 Results</strong>
                </h6>
                <p>We suggest tightening up your filters as we only display up to 100 results.</p>
              </div>

              <table>
                <thead>
                  <tr>

                    <th>
                      <ins>Expire</ins>
                    </th>

                    <th>
                      <ins *ngIf="(screen.Strategy == 'put-credit-spread')">Spread</ins>
                      <ins *ngIf="(screen.Strategy == 'reverse-iron-condor') || (screen.Strategy == 'iron-condor')">Condor</ins>
                    </th>

                    <th *ngIf="(screen.Strategy == 'reverse-iron-condor') || (screen.Strategy == 'iron-condor') || (screen.Strategy == 'put-credit-spread')">
                      <ins>Put % Away</ins>
                    </th>

                    <th *ngIf="(screen.Strategy == 'reverse-iron-condor') || (screen.Strategy == 'iron-condor')">
                      <ins>Call % Away</ins>
                    </th>

                    <th>
                      <ins *ngIf="(screen.Strategy == 'put-credit-spread') || (screen.Strategy == 'iron-condor')">Credit</ins>
                      <ins *ngIf="(screen.Strategy == 'reverse-iron-condor')">Debit</ins>
                    </th>

                    <th>
                      <ins>Midpoint</ins>
                    </th>

                    <th>&nbsp;</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let row of results;">
                    
                    <td>{{ row.Legs[0].OptionExpire | date:'shortDate' }}</td>
                    
                    <td *ngIf="(screen.Strategy == 'put-credit-spread')">
                      {{ row.Legs[0].OptionStrike }} / {{ row.Legs[1].OptionStrike }}
                    </td>
                    
                    <td *ngIf="(screen.Strategy == 'reverse-iron-condor') || (screen.Strategy == 'iron-condor')">
                      {{ row.Legs[0].OptionStrike }} / {{ row.Legs[1].OptionStrike }} <br /> 
                      {{ row.Legs[2].OptionStrike }} / {{ row.Legs[3].OptionStrike }}
                    </td>                    

                    <td *ngIf="(screen.Strategy == 'reverse-iron-condor') || (screen.Strategy == 'iron-condor') || (screen.Strategy == 'put-credit-spread')">
                      {{ row.PutPrecentAway | number:'1.2-2' }}%
                    </td>

                    <td *ngIf="(screen.Strategy == 'reverse-iron-condor') || (screen.Strategy == 'iron-condor')">>
                      {{ row.CallPrecentAway | number:'1.2-2' }}%
                    </td>
                    
                    <td *ngIf="(screen.Strategy == 'put-credit-spread') || (screen.Strategy == 'iron-condor')">
                      {{ row.Credit | currency:'USD':'symbol':'1.2-2' }}
                    </td>
                    
                    <td *ngIf="(screen.Strategy == 'reverse-iron-condor')">
                      {{ row.Debit | currency:'USD':'symbol':'1.2-2' }}
                    </td>                    

                    <td>{{ row.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                    
                    <td>
                      <app-dropdown-select [actions]="actions" [data]="row"></app-dropdown-select>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div><!-- /.table -->
          </div><!-- /.widget__body -->


          <div class="widget__content-alt" *ngIf="(results.length <= 0) && (! searching)">
            <h5>No results.</h5>

            <h5>Try adjusting the screener filters.</h5>
          </div>


        </div>
      </div><!-- /.widget-container -->
    </div><!-- /.section -->
  </div><!-- /.shell shell-large -->
</div><!-- /.content__inner -->