<a class="link-question" (click)="openToolTip()">
  <i class="ico-question"></i>
</a>

<div class="title-question__tooltip" *ngIf="show">
  <h5>{{ title }}</h5>

  <p>{{ message }}</p>
</div>


<!--     A lot is the quanity of the trade you are putting on. 
    For example a vertical spread with a lot of 4 is selling 4 contracts and buying 4 contracts for a total of 8 contracts. An Iron Condor with a lot size of 2 is buying 4 contracts and selling 4 more for a total of 8 contracts. If you are just buying or selling an option your lot size will be the number of contracts you are trading. -->