<div class="article">

  <div class="article__head">
    <h6>Billing History</h6>
  </div>

  <div class="article__body">
    <div class="table-simple js-table">

      <table>
        <thead>
          <tr>
            <th>
              <ins>Date</ins>
            </th>

            <th>
              <ins>Transaction</ins>
            </th>
            
            <th>
              <ins>Payment Method</ins>
            </th>
            
            <th>
              <ins>Amount</ins>
            </th>
            
            <th>
              <ins>Receipt</ins>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let row of invoices;">
            <td>
              <p>{{ row.Date | date:'shortDate' }}</p>
            </td>

            <td>
              <p>{{ row.Transaction }}</p>
            </td>

            <td>
              <p *ngIf="row.PaymentMethod">{{ row.PaymentMethod }}</p>
              <p *ngIf="! row.PaymentMethod">---</p>
            </td>

            <td>
              <p>{{ row.Amount | currency }}</p>
            </td>

            <td>
              <a href="{{ row.InvoiceUrl }}" class="link" *ngIf="row.InvoiceUrl">Download</a>
              <p *ngIf="! row.InvoiceUrl">---</p>
            </td>
          </tr>


<!--           <tr>
            <td>
              <p>6/12/17</p>
            </td>

            <td>
              <p>
                <span>Transaction Failed</span>
              </p>
            </td>

            <td>
              <p>Visa ending 3425</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td></td>
          </tr> -->

        </tbody>
      </table>

    </div>
  </div>
</div>