<div class="article">

  <div class="article__head">
    <h6>Billing History</h6>
  </div>

  <div class="article__body">
    <div class="table-simple js-table">

      <table>
        <thead>
          <tr>
            <th>
              <ins>Date</ins>
            </th>

            <th>
              <ins>Transaction</ins>
            </th>
            
            <th>
              <ins>Payment Method</ins>
            </th>
            
            <th>
              <ins>Amount</ins>
            </th>
            
            <th>
              <ins>Receipt</ins>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              <p>10/12/17</p>
            </td>

            <td>
              <p>Subscription renewal 10/12/2017 - 11/11/2017</p>
            </td>

            <td>
              <p>Visa ending 5662</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td>
              <a  class="link">Download</a>
            </td>
          </tr>

          <tr>
            <td>
              <p>9/12/17</p>
            </td>

            <td>
              <p>Subscription renewal 9/12/2017 - 10/11/2017</p>
            </td>

            <td>
              <p>Visa ending 5662</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td>
              <a  class="link">Download</a>
            </td>
          </tr>

          <tr>
            <td>
              <p>8/12/17</p>
            </td>

            <td>
              <p>Subscription renewal 7/12/2017 - 8/11/2017</p>
            </td>

            <td>
              <p>Visa ending 5662</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td>
              <a  class="link">Download</a>
            </td>
          </tr>

          <tr>
            <td>
              <p>7/12/17</p>
            </td>

            <td>
              <p>Subscription renewal 6/12/2017 - 7/11/2017</p>
            </td>

            <td>
              <p>Visa ending 5662</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td>
              <a  class="link">Download</a>
            </td>
          </tr>

          <tr>
            <td>
              <p>6/12/17</p>
            </td>

            <td>
              <p>
                <span>Transaction Failed</span>
              </p>
            </td>

            <td>
              <p>Visa ending 3425</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td></td>
          </tr>

          <tr>
            <td>
              <p>5/12/17</p>
            </td>

            <td>
              <p>Subscription renewal 5/12/2017 - 6/11/2017</p>
            </td>

            <td>
              <p>Visa ending 3425</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td>
              <a  class="link">Download</a>
            </td>
          </tr>

          <tr>
            <td>
              <p>4/12/17</p>
            </td>

            <td>
              <p>Subscription renewal 4/12/2017 - 5/11/2017</p>
            </td>

            <td>
              <p>Visa ending 3425</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td>
              <a  class="link">Download</a>
            </td>
          </tr>

          <tr>
            <td>
              <p>3/12/17</p>
            </td>

            <td>
              <p>Subscription renewal 3/12/2017 - 4/11/2017</p>
            </td>

            <td>
              <p>Visa ending 3425</p>
            </td>

            <td>
              <p>$20.00</p>
            </td>

            <td>
              <a  class="link">Download</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>