<h5 class="table__title">VIX IVR:</h5>

<div class="table__inner">
  <table>
    <tr>
      <td>
        <ins>30 DAY</ins>
      </td>

      <td>
        <ins>60 DAY</ins>
      </td>

      <td>
        <ins>90 DAY</ins>
      </td>

      <td>
        <ins>365 DAY</ins>
      </td>
    </tr>

    <tr>
      <td>{{ rank?.Rank30 | number:'1.2-2' }}%</td>

      <td>{{ rank?.Rank60 | number:'1.2-2' }}%</td>

      <td>{{ rank?.Rank90 | number:'1.2-2' }}%</td>

      <td>{{ rank?.Rank365 | number:'1.2-2' }}%</td>
    </tr>
  </table>
</div>