<div class="section-primary section-primary--alt">
    <div class="shell shell--size2">
        <div class="section__body">
            <div class="section__content-primary">
                <a class="logo-big"></a>

                <h4>Has Options Cafe changed the way you trade? Let’s upgrade!</h4>

                <h5>We hope you’ve enjoyed using Options Cafe for free!</h5>

                <a routerLink="/settings/account/upgrade" class="btn btn--pink">Upgrade Now</a>
            </div>

            <div class="section__foot">
                <p>If you wish to cancel your account, click here. If you have any questions please contact us.</p>

                <a (click)="cancelAccount()" class="btn btn--border">Cancel Account</a>
            </div>
        </div>
    </div>
</div>

<app-dialog [(visible)]="showCloseDownAccount">

  <div class="popup-alt">
    <div class="popup__inner">
      <div class="article article--size2">

        <div class="article__head">
          <h6>Cancel Account</h6>
        </div>

        <div class="article__body article__body--primary">
          <div class="form-info form">

            <p>To close down your account please contact us via email us at help@options.cafe.</p>

            <div class="form__actions">
              <a (click)="doCancelAccount()" class="btn">OK</a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</app-dialog>