<div class="section-primary section-primary--alt">
    <div class="shell shell--size2">
        <div class="section__body">
            <div class="section__content-primary">
                <a href="#" class="logo-big"></a>

                <h4>Has Options Cafe changed the way you trade? Let’s upgrade!</h4>

                <h5>We hope you’ve enjoyed using Options Cafe for free!</h5>

                <a routerLink="/settings/account/upgrade" class="btn btn--pink">Upgrade Now</a>
            </div><!-- /.section__content -->

            <div class="section__foot">
                <p>If you wish to cancel your account, click here. If you have any questions please contact us.</p>

                <a href="#" class="btn btn--border">Cancel Account</a>
            </div><!-- /.section__foot -->
        </div><!-- /.section__body -->
    </div><!-- /.shell -->
</div><!-- /.section-primary -->