/* ------------------------------------------------------------ *\
	Profile
\* ------------------------------------------------------------ */

.profile a:focus,
.profile a:hover { text-decoration: none; }
.profile .profile-body { display: flex; }

.profile .profile-content { text-align: right; }
.profile .profile-content h5 { margin-bottom: 0; }

.profile .profile-image { margin-left: 21px; }
