<app-backtest-sub-nav></app-backtest-sub-nav>

<div class="content__inner">
  <div class="shell shell--fluid">
    <div class="article">
      <div class="article__head">
        <h5>View Backtest</h5> 
      </div>

      <div class="article__body article__body--primary">
        <div class="backtesting-view">

          <div class="row">
            <div class="block">
              <div class="heading">Start Date</div>
              <div class="sub-heading">{{ backtest.StartDate | date:'shortDate' }}</div>
            </div>

            <div class="block">
              <div class="heading">End Date</div>
              <div class="sub-heading">{{ backtest.EndDate | date:'shortDate' }}</div>
            </div>

            <div class="block">
              <div class="heading">Start Balance</div>
              <div class="sub-heading">{{ backtest.StartingBalance | currency:'USD':'symbol':'1.2-2' }}</div>
            </div>

            <div class="block">
              <div class="heading">Ending Balance</div>
              <div class="sub-heading">{{ backtest.EndingBalance | currency:'USD':'symbol':'1.2-2' }}</div>
            </div>
          </div>

          <div class="row">
            <div class="block">
              <div class="heading">Sharpe Ratio</div>
              <div class="sub-heading">---</div>
            </div>

            <div class="block">
              <div class="heading">Profit</div>
              <div class="sub-heading">{{ backtest.Profit | currency:'USD':'symbol':'1.2-2' }}</div>
            </div>

            <div class="block">
              <div class="heading">Return</div>
              <div class="sub-heading">{{ backtest.Return | number:'1.2-2' }}%</div>
            </div>

            <div class="block">
              <div class="heading">CAGR</div>
              <div class="sub-heading">{{ backtest.CAGR | number:'1.2-2' }}%</div>
            </div>
          </div>

          <div class="row">
            <div class="block">
              <div class="heading">Benchmark Symbol</div>
              <div class="sub-heading">{{ backtest.Benchmark }}</div>
            </div>

            <div class="block">
              <div class="heading">Benchmark Range</div>
              <div class="sub-heading">{{ backtest.BenchmarkStart | currency:'USD':'symbol':'1.2-2' }} - {{ backtest.BenchmarkEnd | currency:'USD':'symbol':'1.2-2' }}</div>
            </div>

            <div class="block">
              <div class="heading">Benchmark Return</div>
              <div class="sub-heading">{{ backtest.BenchmarkPercent | number:'1.2-2' }}%</div>
            </div>

            <div class="block">
              <div class="heading">Benchmark CAGR</div>
              <div class="sub-heading">{{ backtest.BenchmarkCAGR | number:'1.2-2' }}%</div>
            </div>
          </div>

          <div class="row">
            <div class="block">
              <div class="heading">Max Drawdown</div>
              <div class="sub-heading">---</div>
            </div>

            <div class="block">
              <div class="heading">Win Ratio</div>
              <div class="sub-heading">---</div>
            </div>

            <div class="block">
              <div class="heading">Trade Count</div>
              <div class="sub-heading">{{ backtest.TradeCount }}</div>
            </div>

            <div class="block">
              <div class="heading">Avg. Profit / Trade</div>
              <div class="sub-heading">---</div>
            </div>
          </div>

        </div>



        
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Open Date</th>
                <th>Close Date</th>
                <th>Spread</th>
                <th>Open</th>
                <th>Close</th>
                <th>Credit</th>
                <th>Return</th>
                <th>Lots</th>
                <th>% Away</th>
                <th>Margin</th>
                <th>Balance</th>
                <th>Return</th>
                <th>Benchmark</th>
                <th>Benchmark Balance</th>
                <th>Benchmark Return</th>
                <th>Status</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Open Date</td>
                <td>Close Date</td>
                <td>Spread</td>
                <td>Open</td>
                <td>Close</td>
                <td>Credit</td>
                <td>Return</td>
                <td>Lots</td>
                <td>% Away</td>
                <td>Margin</td>
                <td>Balance</td>
                <td>Return</td>
                <td>Benchmark</td>
                <td>Benchmark Balance</td>
                <td>Benchmark Return</td>
                <td>Status</td>
                <td>Note</td>
              </tr>
              <tr>
                <td>Open Date</td>
                <td>Close Date</td>
                <td>Spread</td>
                <td>Open</td>
                <td>Close</td>
                <td>Credit</td>
                <td>Return</td>
                <td>Lots</td>
                <td>% Away</td>
                <td>Margin</td>
                <td>Balance</td>
                <td>Return</td>
                <td>Benchmark</td>
                <td>Benchmark Balance</td>
                <td>Benchmark Return</td>
                <td>Status</td>
                <td>Note</td>
              </tr>
              <tr>
                <td>Open Date</td>
                <td>Close Date</td>
                <td>Spread</td>
                <td>Open</td>
                <td>Close</td>
                <td>Credit</td>
                <td>Return</td>
                <td>Lots</td>
                <td>% Away</td>
                <td>Margin</td>
                <td>Balance</td>
                <td>Return</td>
                <td>Benchmark</td>
                <td>Benchmark Balance</td>
                <td>Benchmark Return</td>
                <td>Status</td>
                <td>Note</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>



  </div>
</div>