<app-backtest-sub-nav></app-backtest-sub-nav>

<div class="content__inner">
  <div class="shell shell--fluid backtesting-view">
    <div class="article">
      <div class="article__head">
        <h5>View Backtest</h5> 
      </div>

      <div class="article__body article__body--primary">
        <div class="summary">

          <div class="row">
            <div class="block">
              <div class="heading">Start Date</div>
              <div class="sub-heading">{{ backtest.StartDate | date:'shortDate' }}</div>
            </div>

            <div class="block">
              <div class="heading">End Date</div>
              <div class="sub-heading">{{ backtest.EndDate | date:'shortDate' }}</div>
            </div>

            <div class="block">
              <div class="heading">Start Balance</div>
              <div class="sub-heading">{{ backtest.StartingBalance | currency:'USD':'symbol':'1.2-2' }}</div>
            </div>

            <div class="block">
              <div class="heading">Ending Balance</div>
              <div class="sub-heading">{{ backtest.EndingBalance | currency:'USD':'symbol':'1.2-2' }}</div>
            </div>
          </div>

          <div class="row">
            <div class="block">
              <div class="heading">Sharpe Ratio</div>
              <div class="sub-heading">---</div>
            </div>

            <div class="block">
              <div class="heading">Profit</div>
              <div class="sub-heading">{{ backtest.Profit | currency:'USD':'symbol':'1.2-2' }}</div>
            </div>

            <div class="block">
              <div class="heading">Return</div>
              <div class="sub-heading">{{ backtest.Return | number:'1.2-2' }}%</div>
            </div>

            <div class="block">
              <div class="heading">CAGR</div>
              <div class="sub-heading">{{ backtest.CAGR | number:'1.2-2' }}%</div>
            </div>
          </div>

          <div class="row">
            <div class="block">
              <div class="heading">Benchmark Symbol</div>
              <div class="sub-heading">{{ backtest.Benchmark }}</div>
            </div>

            <div class="block">
              <div class="heading">Benchmark Range</div>
              <div class="sub-heading">{{ backtest.BenchmarkStart | currency:'USD':'symbol':'1.2-2' }} - {{ backtest.BenchmarkEnd | currency:'USD':'symbol':'1.2-2' }}</div>
            </div>

            <div class="block">
              <div class="heading">Benchmark Return</div>
              <div class="sub-heading">{{ backtest.BenchmarkPercent | number:'1.2-2' }}%</div>
            </div>

            <div class="block">
              <div class="heading">Benchmark CAGR</div>
              <div class="sub-heading">{{ backtest.BenchmarkCAGR | number:'1.2-2' }}%</div>
            </div>
          </div>

          <div class="row">
            <div class="block">
              <div class="heading">Max Drawdown</div>
              <div class="sub-heading">---</div>
            </div>

            <div class="block">
              <div class="heading">Win Ratio</div>
              <div class="sub-heading">---</div>
            </div>

            <div class="block">
              <div class="heading">Trade Count</div>
              <div class="sub-heading">{{ backtest.TradeCount }}</div>
            </div>

            <div class="block">
              <div class="heading">Avg. Profit / Trade</div>
              <div class="sub-heading">---</div>
            </div>
          </div>

        </div>
        
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Open Date</th>
                <th>Close Date</th>
                <th>Spread</th>
                <th>Open</th>
                <th>Close</th>
                <th>Credit</th>
                <th>Return</th>
                <th>Lots</th>
                <th>% Away</th>
                <th>Margin</th>
                <th>Balance</th>
                <th>Return</th>
                <th>{{ backtest.Benchmark }} Close</th>
                <th>{{ backtest.Benchmark }} Balance</th>
                <th>{{ backtest.Benchmark }} Return</th>
                <th>Status</th>
                <th>Note</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of backtest.TradeGroups;">
                <td>{{ row.OpenDate | date:'shortDate' }}</td>
                <td>{{ row.CloseDate | date:'shortDate' }}</td>
                <td>{{ row.SpreadText }}</td>
                <td>{{ row.OpenPrice | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row.ClosePrice | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row.Credit | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row.ReturnPercent | number:'1.2-2' }}%</td>
                <td>{{ row.Lots | number:'1.0-2' }}</td>
                <td>{{ row.PutPrecentAway | number:'1.2-2' }}%</td>
                <td>{{ row.Margin | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row.Balance | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row.ReturnFromStart | number:'1.2-2' }}%</td>
                <td>{{ row.BenchmarkLast | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row.BenchmarkBalance | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row.BenchmarkReturn | number:'1.2-2' }}%</td>
                <td>{{ row.Status }}</td>
                <td>{{ row.Note }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>



  </div>
</div>