<div class="wrapper">

  <div class="banner banner--success banner--fixed" *ngIf="successMsg">
    <a class="btn-close" (click)="closeSuccess()"></a>
    <h6 class="banner__title">
      <strong>{{ successMsg }}</strong>
    </h6>
  </div>

  <div class="main-dashboard">
		
    <app-sidebar></app-sidebar>

  	<div class="content">
  		<div class="content__body min-width-content-body">
  			<div class="content__body-inner">
                        
          <router-outlet></router-outlet>
          
  			</div><!-- /.content__body-inner -->
  		</div><!-- /.content__body -->
  	</div><!-- /.content -->
  </div><!-- /.main-dashboard -->
</div><!-- /.wrapper -->  