APP_ENV=local
APP_DEBUG=true

ROLLBAR_ENV=
ROLLBAR_TOKEN=

TEST_TRADIER_TOKEN=
TEST_TRADIER_ACCOUNT=

DROPBOX_ACCESS_TOKEN=

DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null