APP_ENV=local
APP_NAME=app.options.cafe
CACHE_DIR=/Users/spicer/Development/app.options.cafe/backend/cache # Should be absolute path
SITE_URL=https://app.options.cafe

# Must be 32 chars big.
ENCRYPTION_KEY=

DB_HOST=127.0.0.1
DB_PORT=9316
DB_DATABASE=app_options_cafe
DB_USERNAME=root
DB_PASSWORD=foobar

REDIS_HOST=127.0.0.1:9479

NSQD_HOST=127.0.0.1:4150

CENTCOM_CLIENT_ID=

MAIL_DRIVER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=9225
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

DELTA_NEUTRAL_USERNAME=
DELTA_NEUTRAL_PASSWORD=

ROLLBAR_ENV=
ROLLBAR_TOKEN=

PAPERTRAIL_URL=

DROPBOX_ACCESS_TOKEN=

TRADIER_ADMIN_ACCESS_TOKEN=
TRADIER_CONSUMER_KEY=
TRADIER_CONSUMER_SECRET=

STRIPE_SECRET_KEY=
STRIPE_DEFAULT_PLAN=OC-MONTHLY-20.00-15.00-07-17-2017
STRIPE_SIGNING_SECRET=

MAILGUN_DOMAIN=
MAILGUN_API_KEY=

SENDY_SUBSCRIBE_LIST=
SENDY_NO_BROKER_LIST=

OBJECT_REGION=
OBJECT_BUCKET=
OBJECT_ACCESS_KEY_ID=
OBJECT_SECRET_ACCESS_KEY=
OBJECT_ENDPOINT=

AWS_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SLACK_HOOK=https://hooks.slack.com/services/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

HEALTH_CHECK_SYMBOLS_IMPORT_URL=
HEALTH_CHECK_DOEODOPTIONSIMPORT_URL=

ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=

TWILIO_PHONE=
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_SID=
