APP_ENV=local
APP_DEBUG=true
SITE_URL=https://app.options.cafe

ROLLBAR_ENV=
ROLLBAR_TOKEN=

TEST_TRADIER_TOKEN=
TEST_TRADIER_ACCOUNT=

DROPBOX_ACCESS_TOKEN=

DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

STRIPE_SECRET_KEY=
STRIPE_DEFAULT_PLAN=OC-MONTHLY-20.00-15.00-07-17-2017
STRIPE_SIGNING_SECRET=

MAILGUN_DOMAIN=
MAILGUN_API_KEY=

SENDY_SUBSCRIBE_LIST=
SENDY_NO_BROKER_LIST=

SLACK_HOOK=https://hooks.slack.com/services/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