<div class="panel-group col-md-3 watchlist">
  <div class="panel panel-default">
  	<div class="panel-heading" role="tab" id="headingOne">
  		<h4 class="panel-title">
  			<a role="button" data-toggle="collapse" href="#collapseWatchlist">
  				Watchlist
  			</a>
  		</h4>
  	</div>
  	
  	<div id="collapseWatchlist" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  		<div class="panel-body">

        <div class="list-group">
        
          <a href="" class="list-group-item" *ngFor="let row of watchlist.items">
            <strong>{{ row.symbol }}</strong> <br /> 
            ${{ quotes[row.symbol]?.last | number:'1.2-2' }} 
            <span class="{{ quotes[row.symbol]?.classColor() }}">
              {{ quotes[row.symbol]?.dailyChange() | currency:'USD':true:'1.2-2' }}
              <span>({{ quotes[row.symbol]?.percentChange() | number:'1.2-2' }}%)</span>
            </span> 
            <br />
            {{ quotes[row.symbol]?.description }}
          </a>
                   
        </div>

  		</div>
  	</div>
  </div>
</div>