<app-layout-sub-nav></app-layout-sub-nav>




<div class="content__inner">
  <div class="shell shell--large">
    <div class="widget-settings">
      <div class="widget__inner">
        <div class="widget__aside">
          <h5>Strategy Settings</h5>

          <ul class="list-strategies">
            <li [ngClass]="{ active: strategySettingsState.VerticalSpread }">
              <a (click)="strategySettingsClick('VerticalSpread')">
                Vertical Spreads
                <i class="ico-angle-right-pink"></i>
              </a>
            </li>

<!--             <li [ngClass]="{ active: strategySettingsState.CallCreditSpread }">
              <a (click)="strategySettingsClick('CallCreditSpread')">
                Call Credit Spread
                <i class="ico-angle-right-pink"></i>
              </a>
            </li>

            <li [ngClass]="{ active: strategySettingsState.PutDebitSpread }">
              <a (click)="strategySettingsClick('PutDebitSpread')">
                Put Debit Spread
                <i class="ico-angle-right-pink"></i>
              </a>
            </li>

            <li [ngClass]="{ active: strategySettingsState.CallDebitSpread }">
              <a (click)="strategySettingsClick('CallDebitSpread')">
                Call Debit Spread
                <i class="ico-angle-right-pink"></i>
              </a>
            </li> -->

          </ul> 
        </div>



        <!-- ************* Put Credit Spread **************** -->
        
        <div class="widget__body" *ngIf="strategySettingsState.VerticalSpread">
          <h5>Vertical Spreads</h5>

          <div class="widget__body-inner">
            <p>
              To easily placed trades you can set defaults for one click trading. For more information 
              <a href="#">click here.</a>
            </p>

            <div class="table-alt">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    
                    <th>
                      <h5 class="title-question">
                        Open Price

                        <a (click)="strategyHelperToggle('HelperVerticalSpreadOpenPrice')" class="link-question">
                          <i class="ico-question"></i>
                        </a>

                        <div class="title-question__tooltip" *ngIf="strategySettingsState.HelperVerticalSpreadOpenPrice">
                          <h5>What is this?</h5>

                          <p>
                            A lot is the quanity of the trade you are putting on. 
                            For example a vertical spread with a lot of 4 is selling 4 contracts and buying 4 contracts for a total of 8 contracts. An Iron Condor with a lot size of 2 is buying 4 contracts and selling 4 more for a total of 8 contracts. If you are just buying or selling an option your lot size will be the number of contracts you are trading.
                          </p>
                        </div>
                      </h5>
                    </th>

                    <th>
                      <h5 class="title-question active">
                        Lots

                        <a (click)="strategyHelperToggle('HelperVerticalSpreadLots')" class="link-question">
                          <i class="ico-question"></i>
                        </a>

                        <div class="title-question__tooltip" *ngIf="strategySettingsState.HelperVerticalSpreadLots">
                          <h5>What is this?</h5>

                          <p>
                            A lot is the quanity of the trade you are putting on. 
                            For example a vertical spread with a lot of 4 is selling 4 contracts and buying 4 contracts for a total of 8 contracts. An Iron Condor with a lot size of 2 is buying 4 contracts and selling 4 more for a total of 8 contracts. If you are just buying or selling an option your lot size will be the number of contracts you are trading.
                          </p>
                        </div>
                      </h5>
                    </th>

                    <th>
                      <h5 class="title-question">
                        Close Price

                        <a (click)="strategyHelperToggle('HelperVerticalSpreadClosePrice')" class="link-question">
                          <i class="ico-question"></i>
                        </a>

                        <div class="title-question__tooltip" *ngIf="strategySettingsState.HelperVerticalSpreadClosePrice">
                          <h5>What is this?</h5>

                          <p>
                            A lot is the quanity of the trade you are putting on. 
                            For example a vertical spread with a lot of 4 is selling 4 contracts and buying 4 contracts for a total of 8 contracts. An Iron Condor with a lot size of 2 is buying 4 contracts and selling 4 more for a total of 8 contracts. If you are just buying or selling an option your lot size will be the number of contracts you are trading.
                          </p>
                        </div>
                      </h5>
                    </th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <h4>Put Credit Spread</h4>
                    </td>
                    
                    <td>
                      <div class="select select--primary">
                        <select name="StrategyPcsOpenPrice" [(ngModel)]="settings.StrategyPcsOpenPrice" (change)="strategyChange()">
                          <option value="bid">Bid</option>
                          <option value="ask">Ask</option>                           
                          <option value="mid-point">Mid Point</option>                         
                        </select>
                      </div>
                    </td>

                    <td>
                      <input type="number" class="field" name="StrategyPcsLots" [(ngModel)]="settings.StrategyPcsLots" (change)="strategyChange()" />
                    </td>

                    <td>
                      <input type="number" class="field" placeholder="$" name="StrategyPcsClosePrice" [(ngModel)]="settings.StrategyPcsClosePrice" (change)="strategyChange()" />
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <h4>Call Credit Spread</h4>
                    </td>
                    
                    <td>
                      <div class="select select--primary">
                        <select name="StrategyCcsOpenPrice" [(ngModel)]="settings.StrategyCcsOpenPrice" (change)="strategyChange()">
                          <option value="bid">Bid</option>
                          <option value="ask">Ask</option>                           
                          <option value="mid-point">Mid Point</option>                         
                        </select>
                      </div>
                    </td>

                    <td>
                      <input type="number" class="field" name="StrategyCcsLots" [(ngModel)]="settings.StrategyCcsLots" (change)="strategyChange()" />
                    </td>

                    <td>
                      <input type="number" class="field" placeholder="$" name="StrategyCcsClosePrice" [(ngModel)]="settings.StrategyCcsClosePrice" (change)="strategyChange()" />
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <h4>Put Debit Spread</h4>
                    </td>
                    
                    <td>
                      <div class="select select--primary">
                        <select name="StrategyPdsOpenPrice" [(ngModel)]="settings.StrategyPdsOpenPrice" (change)="strategyChange()">
                          <option value="bid">Bid</option>
                          <option value="ask">Ask</option>                           
                          <option value="mid-point">Mid Point</option>                         
                        </select>
                      </div>
                    </td>

                    <td>
                      <input type="number" class="field" name="StrategyPdsLots" [(ngModel)]="settings.StrategyPdsLots" (change)="strategyChange()" />
                    </td>

                    <td>
                      <input type="number" class="field" placeholder="$" name="StrategyPdsClosePrice" [(ngModel)]="settings.StrategyPdsClosePrice" (change)="strategyChange()" />
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <h4>Call Debit Spread</h4>
                    </td>
                    
                    <td>
                      <div class="select select--primary">
                        <select name="StrategyCdsOpenPrice" [(ngModel)]="settings.StrategyCdsOpenPrice" (change)="strategyChange()">
                          <option value="bid">Bid</option>
                          <option value="ask">Ask</option>                           
                          <option value="mid-point">Mid Point</option>                         
                        </select>
                      </div>
                    </td>

                    <td>
                      <input type="number" class="field" name="StrategyCdsLots" [(ngModel)]="settings.StrategyCdsLots" (change)="strategyChange()" />
                    </td>

                    <td>
                      <input type="number" class="field" placeholder="$" name="StrategyCdsClosePrice" [(ngModel)]="settings.StrategyCdsClosePrice" (change)="strategyChange()" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>














    <div class="widget-settings">
      <div class="table-def js-table">
        <table>
          <thead>
            <tr>
              <th>Notifications</th>
              
              <th>Email</th>
              
              <th>SMS</th>
              
              <th>Push Notifications</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td>
                <h6>Market Is Open</h6>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch1" [checked]="settings.NoticeMarketOpenedEmail == 'Yes'" (change)="noticeChange('NoticeMarketOpenedEmail')" />
                  <label for="ch1"></label>
                </div>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch2" [checked]="settings.NoticeMarketOpenedSms == 'Yes'" (change)="noticeChange('NoticeMarketOpenedSms')" />
                  <label for="ch2"></label>
                </div>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch3" [checked]="settings.NoticeMarketOpenedPush == 'Yes'" (change)="noticeChange('NoticeMarketOpenedPush')" />
                  <label for="ch3"></label>
                </div>
              </td>
            </tr> 

            <tr>
              <td>
                <h6>Market Is Closed</h6>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch4" [checked]="settings.NoticeMarketClosedEmail == 'Yes'" (change)="noticeChange('NoticeMarketClosedEmail')" />
                  <label for="ch4"></label>
                </div>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch5" [checked]="settings.NoticeMarketClosedSms == 'Yes'" (change)="noticeChange('NoticeMarketClosedSms')" />
                  <label for="ch5"></label>
                </div>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch6" [checked]="settings.NoticeMarketClosedPush == 'Yes'" (change)="noticeChange('NoticeMarketClosedPush')" />
                  <label for="ch6"></label>
                </div>
              </td>
            </tr>   

            <tr>
              <td>
                <h6>Trade Has Been Filled</h6>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch7" [checked]="settings.NoticeTradeFilledEmail == 'Yes'" (change)="noticeChange('NoticeTradeFilledEmail')" />
                  <label for="ch7"></label>
                </div>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch8" [checked]="settings.NoticeTradeFilledSms == 'Yes'" (change)="noticeChange('NoticeTradeFilledSms')" />
                  <label for="ch8"></label>
                </div>
              </td>

              <td>
                <div class="checkbox">
                  <input type="checkbox" id="ch9" [value]="Yes" [checked]="settings.NoticeTradeFilledPush == 'Yes'" (change)="noticeChange('NoticeTradeFilledPush')" />
                  <label for="ch9"></label>
                </div>
              </td>
            </tr>                     

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>


<a (click)="setupBrowserNotifications()" class="btn btn--pink">Setup Notifications</a>






<app-dialog [(visible)]="showEditPhone">

  <div class="popup-alt personal-info">
    <div class="popup__inner">
      <div class="article article--size2">
        <div class="article__head">
          <h6>Edit Personal Info</h6>
        </div>

        <div class="article__body article__body--primary">
          <div class="form-info form">

            <form (submit)="doSaveEditProfile()">
              <div class="form__body">

                <div class="form__row">
                  <label for="f_phone">Phone</label>
                  <div class="form__controls">
                    <input type="phone" class="field form__field" name="Phone" id="f_phone" [(ngModel)]="userProfile.Phone" autocomplete="new" />
                  </div>
                </div>

              </div>

              <div class="form__actions">
                <a (click)="doCancelEditProfile()" class="link-alt">Cancel</a>
                <a (click)="doSaveEditProfile()" class="btn btn--pink">Save Changes</a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</app-dialog>