<div class="box__head box__head--relative">
  <h5 class="box__title">{{ title }}</h5>

  <div class="box__absolute" *ngIf="(title == 'Options')">
    <p>
      P&amp;L
      <strong [ngClass]="{'title-red': (getOptionWidgetProfitLoss(tradeGroups) < 0), 'title-green': (getOptionWidgetProfitLoss(tradeGroups) > 0)}">{{ getOptionWidgetProfitLoss(tradeGroups) | currency }}</strong>
    </p>
  </div>
</div>

<div class="box__body box__body--small">

  <div class="box__inner" *ngFor="let row of tradeGroups; let key = index;">
    <div class="table table--large">
      <div class="table__inner">
        <table>
          <tr *ngIf="key == 0">
            <td><ins>Contracts</ins></td>
            <td><ins>Open</ins></td>
            <td><ins>Lots</ins></td>
            <td><ins>Away</ins></td>
            <td><ins>Days</ins></td>
            <td><ins>Credit</ins></td>
            <td><ins>P&amp;L</ins></td>
          </tr>

          <tr *ngFor="let row2 of row.Positions; let key2 = index;">
            <td><strong class="table__surrounded">{{ row2.Symbol.Name }}</strong></td>
            <td><strong>{{ row2.OpenDate | date:'shortDate' }}</strong></td>
            <td><strong>{{ row2.Qty }}</strong></td>

            <td>
              <strong>2.95%</strong>
            </td>

            <td>
              <strong>14</strong>
            </td>

            <td>
              <strong>$105.00</strong>
            </td>

            <td *ngIf="(key2 == 0) && (row.Type == 'Option')">
              <strong [ngClass]="{'title-red': (getOptionProfitLoss(row2) < 0), 'title-green': (getOptionProfitLoss(row2) > 0)}">{{ getOptionProfitLoss(row2) | currency }}</strong>
            </td>

            <td *ngIf="key2 != 0">&nbsp;</td>
          </tr>
        </table>
      </div>

      <div class="dropdown select">
        <div class="dropdown__head dropdown--trigger"></div>

        <div class="dropdown__body">
          <ul class="list-actions">
            <li>
              <a href="#">Position Details</a>
            </li>

            <li>
              <a href="#">Close Trade @ $0.03</a>
            </li>

            <li>
              <a href="#">Close Trade @ Market</a>
            </li>

            <li>
              <a href="#">Close Trade @ Limit</a>
            </li>
          </ul><!-- /.list-actions -->
        </div><!-- /.dropdown__body -->
      </div><!-- /.dropdown select -->
    </div><!-- /.table table-large -->

    <div class="progress">
      <strong class="progress__number">21.8%</strong>

      <div class="progress__bar">
        <div class="progress__amount"></div><!-- /.progress__amount -->
      </div><!-- /.progress__bar -->
    </div><!-- /.progress -->
  </div><!-- /.box__inner -->

</div>