<app-layout-sub-nav></app-layout-sub-nav>

  <div class="content__inner">
    <div class="shell shell--fluid">
    	<div class="search-small">
    		<div class="search__body">
    			<div class="search__inner">
    				<label for="field-search-trades" class="hidden">Search Trades</label>
  
    				<div class="form__controls">
    				    <input type="text" class="field field--large" name="field-search-trades" id="field-search-trades" value="" placeholder="Search Trades" (keyup)="onSearchKeyUp($event)" [(ngModel)]="searchTerm" />
    				</div>
    			</div><!-- /.search__inner -->
  
    			<div class="search__inner">
    				<label for="field-select-trades" class="hidden">Select Trades</label>
  
    				<div class="form__controls">
    					<div class="select">
    						<select name="field-select-trades" id="field-select-trades" [(ngModel)]="tradeSelect" (change)="onTradeSelect($event)" >
    							<option value="All">All Trades</option>
                                <option value="Closed">Closed Trades</option>
                                <option value="Open">Open Trades</option>
                                <option value="Option">Option Trades</option>
                                <option value="Equity">Equity Trades</option>
                                <option value="Put Credit Spread">Put Credit Spread Trades</option>
                                <option value="Call Credit Spread">Call Credit Spread Trades</option>
                                <option value="Put Debit Spread">Put Debit Spread Trades</option>
                                <option value="Call Debit Spread">Call Debit Spread Trades</option>
                                <option value="Iron Condor">Iron Condor Trades</option>
                                <option value="Reverse Iron Condor">Reverse Iron Condor Trades</option>
    							<option value="Other">Other Trades</option>
    						</select>
    					</div><!-- /.select field-medium -->
    				</div><!-- /.form__controls -->
    			</div><!-- /.search__inner -->
    		</div><!-- /.search__body -->
    	</div><!-- /.search-small -->
  


    	<ul class="boxes boxes--rows">

    		<li class="box--bordered" *ngFor="let row of tradesList;">
    			<header class="box__head box__head--relative">
    				<h5 class="box__title">{{ row.Name }}</h5><!-- /.box__title -->
  
<!--     				<div class="dropdown select">
    					<div class="dropdown__head dropdown--trigger"></div>
  
    					<div class="dropdown__body">
    						<ul class="list-actions">
    							<li>
    								<a href="#">Edit Name</a>
    							</li>
  
    							<li>
    								<a href="#">Edit Commission</a>
    							</li>
  
    							<li>
    								<a href="#">Assign Position</a>
    							</li>
  
    							<li>
    								<a href="#">Add Note</a>
    							</li>
    						</ul>
    					</div>
    				</div> -->
    			</header>
  
    			<div class="box__body box__body--xsmall">
    				<div class="table table--small table--grey">
    					<table>
    						<tr>
    							<td>
    								<ins>Open</ins>
    							</td>
  
    							<td>
    								<ins>Close</ins>
    							</td>
  
    							<td>
    								<ins>Status</ins>
    							</td>
  
    							<td>
    								<ins>Commissions</ins>
    							</td>
  
    							<td>
    								<ins>Risked</ins>
    							</td>
  
    							<td>
    								<ins>Profit</ins>
    							</td>
    						</tr>
  
    						<tr>
    							<td>
    								<strong>{{ row.OpenDate | date:'shortDate' }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row.ClosedDate | date:'shortDate' }}</strong>
    							</td>
  
    							<td>
    								<strong [ngClass]="{'title-green': (row.Status == 'Open')}">{{ row.Status }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row.Commission | currency }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row.Risked | currency }}</strong>
    							</td>
  
    							<td>
    								<strong [ngClass]="{'title-red': (row.Profit < 0), 'title-green': (row.Profit > 0)}" *ngIf="row.Status === 'Closed'">
                                        {{ row.Profit | currency }} ({{ row.PercentGain }}%)
                                    </strong>
                                    <strong *ngIf="row.Status === 'Open'">---</strong>
    							</td>
    						</tr>
    					</table>
    				</div><!-- /.table table-small table-grey -->
  
    				<div class="table table--small table--clear">
    					<table>
    						<tr>
    							<td>
    								<ins class="table__title-full">Positions</ins>
    							</td>
  
    							<td>
    								<ins>Open</ins>
    							</td>
  
    							<td>
    								<ins>Close</ins>
    							</td>
  
    							<td>
    								<ins>Quantity</ins>
    							</td>
  
    							<td>
    								<ins>Open Value</ins>
    							</td>
  
    							<td>
    								<ins>Close Value</ins>
    							</td>
  
    							<td>
    								<ins>P&amp;L</ins>
    							</td>
    						</tr>
  
    						<tr *ngFor="let row2 of row.Positions;">
    							<td>
    								<strong>{{ row2.Symbol.Name }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.OpenDate | date:'shortDate' }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.ClosedDate | date:'shortDate' }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.OrgQty }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.CostBasis | currency }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.Proceeds | currency }}</strong>
    							</td>
  
    							<td>
    								<strong [ngClass]="{'title-red': (row2.Profit < 0), 'title-green': (row2.Profit > 0)}">{{ row2.Profit | currency }}</strong>
    							</td>
    						</tr>

                            <tr *ngIf="row.Note.length > 0">
                                <td colspan="7">
                                    <p class="note-text"><strong>Note: </strong>{{ row.Note }}</p>
                                </td>
                            </tr>
    					</table>

    				</div><!-- /.table table-small table-clear -->
    			</div><!-- /.box__body box__body-xsmall -->
    		</li><!-- /.box-bordered -->
  
    	</ul><!-- /.boxes boxes-rows -->
  

        <app-paging [limit]="limit" [count]="count" [page]="page" [noLimitCount]="noLimitCount" (pageClick)="onPagingClick($event)"></app-paging>


    </div><!-- /.shell shell-fluid -->
  </div><!-- /.content__inner -->