<app-trading-sub-nav></app-trading-sub-nav>

  <div class="content__inner">
    <div class="shell shell--fluid">
    	<div class="search-small">
    		<div class="search__body">
    			<div class="search__inner">
    				<label for="field-search-trades" class="hidden">Search Trades</label>
  
    				<div class="form__controls">
    				    <input type="text" class="field field--large" name="field-search-trades" id="field-search-trades" value="" placeholder="Search Trades" (keyup)="onSearchKeyUp($event)" [(ngModel)]="searchTerm" />
    				</div>
    			</div><!-- /.search__inner -->
  
    			<div class="search__inner">
    				<label for="field-select-trades" class="hidden">Select Trades</label>
  
    				<div class="form__controls">
    					<div class="select field--medium">
    						<select name="field-select-trades" id="field-select-trades">
    							<option value="option-all">All Trades</option>
  
    							<option value="option-1">Option 1</option>
  
    							<option value="option-2">Option 2</option>
    						</select>
    					</div><!-- /.select field-medium -->
    				</div><!-- /.form__controls -->
    			</div><!-- /.search__inner -->
    		</div><!-- /.search__body -->
    	</div><!-- /.search-small -->
  


    	<ul class="boxes boxes--rows">

    		<li class="box--bordered" *ngFor="let row of tradesList;">
    			<header class="box__head box__head--relative">
    				<h5 class="box__title">{{ row.Name }}</h5><!-- /.box__title -->
  
    				<div class="dropdown select">
    					<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->
  
    					<div class="dropdown__body">
    						<ul class="list-actions">
    							<li>
    								<a href="#">Edit Name</a>
    							</li>
  
    							<li>
    								<a href="#">Edit Commission</a>
    							</li>
  
    							<li>
    								<a href="#">Assign Position</a>
    							</li>
  
    							<li>
    								<a href="#">Add Note</a>
    							</li>
    						</ul><!-- /.list-actions -->
    					</div><!-- /.dropdown__body -->
    				</div><!-- /.dropdown select -->
    			</header><!-- /.box__head box__head-relative -->
  
    			<div class="box__body box__body--xsmall">
    				<div class="table table--small table--grey">
    					<table>
    						<tr>
    							<td>
    								<ins>Open</ins>
    							</td>
  
    							<td>
    								<ins>Close</ins>
    							</td>
  
    							<td>
    								<ins>Status</ins>
    							</td>
  
    							<td>
    								<ins>Commissions</ins>
    							</td>
  
    							<td>
    								<ins>Risked</ins>
    							</td>
  
    							<td>
    								<ins>Profit</ins>
    							</td>
    						</tr>
  
    						<tr>
    							<td>
    								<strong>{{ row.OpenDate | date:'shortDate' }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row.ClosedDate | date:'shortDate' }}</strong>
    							</td>
  
    							<td>
    								<strong [ngClass]="{'title-red': (row.Status == 'Closed'), 'title-green': (row.Status == 'Open')}">{{ row.Status }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row.Commission | currency }}</strong>
    							</td>
  
    							<td>
    								<strong>$1,263.00</strong>
    							</td>
  
    							<td>
    								<strong class="title-red">$-12.45 (-2.3%)</strong>
    							</td>
    						</tr>
    					</table>
    				</div><!-- /.table table-small table-grey -->
  
    				<div class="table table--small table--clear">
    					<table>
    						<tr>
    							<td>
    								<ins class="table__title-full">Positions</ins>
    							</td>
  
    							<td>
    								<ins>Open</ins>
    							</td>
  
    							<td>
    								<ins>Close</ins>
    							</td>
  
    							<td>
    								<ins>Quantity</ins>
    							</td>
  
    							<td>
    								<ins>Open Value</ins>
    							</td>
  
    							<td>
    								<ins>Close Value</ins>
    							</td>
  
    							<td>
    								<ins>P&amp;L</ins>
    							</td>
    						</tr>
  
    						<tr *ngFor="let row2 of row.Positions;">
    							<td>
    								<strong>{{ row2.Symbol.Name }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.OpenDate | date:'shortDate' }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.ClosedDate | date:'shortDate' }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.OrgQty }}</strong>
    							</td>
  
    							<td>
    								<strong>{{ row2.CostBasis | currency }}</strong>
    							</td>
  
    							<td>
    								<strong>$28.00</strong>
    							</td>
  
    							<td>
    								<strong class="title-red">$25.00</strong>
    							</td>
    						</tr>

                            <tr>
                                <td colspan="7">
                                    <p class="note-text">{{ row.Note }}</p>
                                </td>
                            </tr>
    					</table>

    				</div><!-- /.table table-small table-clear -->
    			</div><!-- /.box__body box__body-xsmall -->
    		</li><!-- /.box-bordered -->
  
    	</ul><!-- /.boxes boxes-rows -->
  



    	<div class="content__actions">
    		<a href="#" class="btn btn--small btn--opacity">Prev</a>
  
    		<a href="#" class="btn btn--small">Next</a>
    	</div><!-- /contentn__actions -->
    </div><!-- /.shell shell-fluid -->
  </div><!-- /.content__inner -->