<app-auth-layout> 
  
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <section class="form__section box--bordered">
      
    	<div class="form__head">
    		<h5 class="form__title">Welcome to Options Cafe!</h5><!-- /.form__title -->
    	</div><!-- /.form__head -->
  
    	<div class="form__body">
      	
      	<p class="title-green" *ngIf="successMsg">{{ successMsg }}</p>
      	
            <div class="form__row">
                <a class="btn btn-google-login" title="Sign in with Google" (click)="googleLogin()">
                    <span class="oauth-icon">
                        <svg class="icon-svg icon-svg--google icon--" width="26" height="26" viewbox="0 0 32 32" preserveAspectRatio="xMinYMin">
                            <use xlink:href="/images/svg/icons.svg#icon--google"></use>
                        </svg>
                    </span>
                    <span class="btn-text">Sign in with Google</span>
                </a>
            </div>

            <div class="form__row">
              <div class="break">
                <div class="break__content">Or, use my email address</div>
              </div>
            </div>

    		<div class="form__row">
    			<label for="field-email" class="form__label">Email</label>
  
    			<div class="form__controls">
    				<input type="email" class="field" name="username" id="field-email" value="" required email ngModel />
    			</div><!-- /.form__controls -->
    		</div><!-- /.form__row -->
  
    		<div class="form__row">
    			<label for="field-password" class="form__label">Password</label>
  
    			<div class="form__controls">
    				<input type="password" class="field" name="password" id="field-password" value="" minlength="6" required ngModel />
    			</div><!-- /.form__controls -->
    		</div><!-- /.form__row -->
  
    		<span class="form__error active" *ngIf="errorMsg">{{ errorMsg }}</span>
    	</div><!-- /.form__body -->
  
    	<div class="form__actions">
    		<a routerLink="/forgot-password" class="link-action form__help">Forgot your password?</a>
  
    		<input type="submit" value="{{ submitBtn }}" class="btn form__btn" [disabled]="! f.valid" />
    	</div>
    </section>
  
    <footer class="form__foot">
    	<p>Don't have an account?</p>
  
    	<p>
    		<a routerLink="/register" class="link-action">Click here to sign up!</a>
    	</p>
    </footer><!-- /.form__foot -->
  </form>

</app-auth-layout>