<div class="panel-group">
  <div class="panel panel-default">
  	<div class="panel-heading" role="tab" id="headingOne">
  		<h4 class="panel-title">
  			<a role="button" data-toggle="collapse" href="#collapseOrders">
  				Orders
  			</a>
  		</h4>
  	</div>
  	
  	<div id="collapseOrders" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
  		<div class="panel-body">

        <table class="table">
          <thead>
            <tr>
            <th>Symbols</th>
            <th class="text-center">Last</th>
            <th class="text-center">Qty</th>              
            <th class="text-center">Duration</th>       
            <th class="text-center">Type</th>
            <th class="text-center">Price</th> 
            <th class="text-center">Filled</th>                       
            <th class="text-center">Status</th>        
            </tr>
          </thead>
        
          <tbody>

            <tr *ngFor="let row of orders">

              <td [hidden]="row.Class != 'equity'">{{ quotes[row.Symbol]?.description }}</td>
              <td [hidden]="row.Class != 'equity'" class="text-center">{{ quotes[row.Symbol]?.last | currency:'USD':true:'1.2-2' }}</td>              
              <td [hidden]="row.Class != 'equity'" class="text-center">{{ row.Quantity }}</td>


              <td [hidden]="row.Class != 'multileg'">
                <p *ngFor="let row2 of row.Legs">{{ quotes[row2.OptionSymbol]?.description }}</p>                
              </td>
              <td [hidden]="row.Class != 'multileg'" class="text-center">
                <p *ngFor="let row2 of row.Legs">{{ quotes[row2.OptionSymbol]?.last | currency:'USD':true:'1.2-2' }}</p>                
              </td>               
              <td [hidden]="row.Class != 'multileg'" class="text-center">
                <p *ngFor="let row2 of row.Legs">{{ row2.Quantity }}</p>                
              </td>  

              
              <td [hidden]="row.Class != 'option'">{{ quotes[row.Symbol]?.description }}</td>
              <td [hidden]="row.Class != 'option'" class="text-center">{{ quotes[row.Symbol]?.last | currency:'USD':true:'1.2-2' }}</td> 
              <td [hidden]="row.Class != 'option'" class="text-center">{{ row.Quantity }}</td>
                            
  
              <td class="text-center">{{ row.Duration }}</td>
              <td class="text-center">{{ row.Type }}</td>

              <td class="text-center" [hidden]="row.Type != 'debit'">{{ row.Price | currency:'USD':true:'1.2-2' }}</td>
              <td class="text-center" [hidden]="row.Type != 'credit'">{{ row.Price | currency:'USD':true:'1.2-2' }}</td>
              <td class="text-center" [hidden]="row.Type != 'stop'">{{ row.StopPrice | currency:'USD':true:'1.2-2' }}</td>
              <td class="text-center" [hidden]="row.Type != 'market'">---</td>              

              <td class="text-center" [hidden]="row.Status != 'filled'">{{ row.AvgFillPrice | currency:'USD':true:'1.2-2' }}</td>
              <td class="text-center" [hidden]="row.Status != 'open'">---</td>
              <td class="text-center" [hidden]="row.Status != 'canceled'">---</td>
              <td class="text-center" [hidden]="row.Status != 'expired'">---</td>

              <td class="text-center">{{ row.Status }}</td>
                                             
            </tr>            
            
          </tbody>
        </table>

  		</div>
  	</div>
  </div>
</div>