<div class="sidebar">
	<div class="sidebar__logo sidebar--bordered">
		<a href="#" class="logo"></a>

		<a href="#" class="btn-menu">
			<span></span>
		</a>
	</div><!-- /.sidebar__logo sidebar-bordered -->	
	
	<div class="sidebar__content">
		<ul class="widgets">
			<li class="widget widget--account sidebar--bordered">
				<div class="widget__head">
					<h5 class="widget__title">Account</h5><!-- /.widget__title -->
				</div><!-- /.widget__head -->

				<div class="widget__body">
					<div class="select-wrapper">
						<label for="field-account" class="hidden">account</label>

						<div class="select select--dark">
              <select name="field-account" id="field-account" [(ngModel)]="selectedAccount" (ngModelChange)="onAccountChange()">
                <option [ngValue]="row" *ngFor="let row of userProfile?.Accounts">{{ row.AccountNumber }}</option>
              </select>  						
						</div>
						
					</div><!-- /.select-wrapper -->

					<ul class="list-details">
						<li>
							<h6>Total account value</h6>

							<strong>{{ balance?.AccountValue | currency:'USD':true:'1.2-2' }}</strong>
						</li>

						<li>
							<h6>Total cash</h6>

							<strong>{{ balance?.TotalCash | currency:'USD':true:'1.2-2' }}</strong>
						</li>

						<li>
							<h6>Option buying power</h6>

							<strong>{{ balance?.OptionBuyingPower | currency:'USD':true:'1.2-2' }}</strong>
						</li>

						<li>
							<h6>Stock buying power</h6>

							<strong>{{ balance?.StockBuyingPower | currency:'USD':true:'1.2-2' }}</strong>
						</li>
					</ul><!-- /.list-details -->
				</div><!-- /.widget__body -->
			</li><!-- /.widget widget-account sidebar-bordered -->

			<li class="widget widget--market">
				<div class="widget__head">
					<h5 class="widget__title">Market</h5><!-- /.widget__title -->
				</div><!-- /.widget__head -->

				<div class="widget__body">
					<ul class="list-details">
						<li>
							<h6>US stock market</h6>

							<strong>Closed</strong>
						</li>
					</ul><!-- /.list-details -->
				</div><!-- /.widget__body -->
			</li><!-- /.widget widget-market -->
		</ul><!-- /.widgets -->
	</div><!-- /.sidebar__content -->
</div><!-- /.sidebar -->