<!-- ********************* Watchlist Static State *********************  -->
<aside class="section__aside box--bordered mobile--hidden" [hidden]="watchlistEditState">
										
  <div class="box__head box__head--relative">
    <h5 class="box__title">Watchlist</h5>
  
    <div class="dropdown select" [ngClass]="{ 'active': watchlistSettingsActive }">
    	<div class="dropdown__head dropdown--trigger" (click)="onWatchlistSettingsClick()"></div>
  
    	<div class="dropdown__body dropdown__body--medium">

        <ul class="list-actions list-actions--padded">
          <li>
            <p>
              <small>
                <em>Choose Watchlist</em>
              </small>
            </p>
          </li>

          <li [ngClass]="{'list--checked': (row.Id == watchlist?.Id)}" *ngFor="let row of watchlists">
            <a href="">
              <i class="ico-check"></i>
              {{ row.Name }}
            </a>
          </li>
          
<!--           <li>
            <a href="#">
              <i class="ico-check"></i>
              Watchlist Watchlist 24ch
            </a>
          </li> -->
        </ul>


    		<ul class="list-actions list-actions--padded">

          <li>
            <p>
              <small>
                <em>Actions</em>
              </small>
            </p>
          </li>

    			<li>
    				<a (click)="onEditWatchList()">Edit Watchlist</a>
    			</li>
  
    			<li>
    				<a (click)="showAddWatchlist = !showAddWatchlist"  class="popup--trigger">Add Watchlist</a>
    			</li>
  
    			<li>
    				<a (click)="showRenameWatchlist = !showRenameWatchlist" class="popup--trigger">Rename Watchlist</a>
    			</li>

    			<li>
    				<a (click)="showDeleteWatchlist = !showDeleteWatchlist" class="popup--trigger">Delete Watchlist</a>
    			</li>
    		</ul>

    	</div>
    </div>
  </div>

  
  <ul class="stocks">
    
  	<li class="stock" *ngFor="let row of watchlist?.Symbols">
  		<h6 class="stock__title">{{ row.Symbol.ShortName | uppercase }}</h6>
  
  		<ul class="list-prices">
  			<li>
  				<strong>{{ quotes[row.Symbol.ShortName]?.last | currency:'USD':'symbol':'1.2-2' }}</strong>
  			</li>
  
  			<li>
  				<strong class="title-red">
  					{{ quotes[row.Symbol.ShortName]?.dailyChange() | currency:'USD':'symbol':'1.2-2' }} <span>({{ quotes[row.Symbol.ShortName]?.percentChange() | number:'1.2-2' }}%)</span>
  				</strong>
  			</li>
  		</ul><!-- /.list-prices -->
  
  		<footer class="stock__footer">
  			<em>{{ row.Symbol.Name }}</em>
  		</footer>
  	</li>
  	
  </ul>
</aside>


<!-- ********************* Watchlist Edit State *********************  -->
<aside class="section__aside box--bordered mobile--hidden" [hidden]="! watchlistEditState">
 
  <div class="box__head box__head--relative box__head--medium">
    <h5 class="box__title">Edit Watchlist</h5>
    
    <div class="box__absolute">
      <a class="link-action link-action--small" (click)="onEditWatchListDone()">Done</a>
    </div>
  </div>

  <div class="box__search">
    <div class="dropdown dropdown--search active">
      
      <app-typeahead-symbols (selected)="onSearchTypeAheadClick($event)"></app-typeahead-symbols>

    </div>
  </div>

  <ul class="list-results" [sortablejs]="watchlist?.Symbols" [sortablejsOptions]="sortOptions">
    <li *ngFor="let row of watchlist?.Symbols" class="item" data-id="{{ row.Id }}">
      <h6>{{ row.Symbol.ShortName | uppercase }}</h6>
      
      <p>
        <em>{{ row.Symbol.Name }}</em>
      </p>
      
      <a href="#" class="btn-action btn--delete">
        <i class="fa fa-trash"></i>
      </a>
      
      <a class="btn-action drag-handle">
        <i class="fa fa-bars"></i>
      </a>
    </li>
  </ul>
</aside>


<!-- ********************* Add Watchlist *********************  -->
<app-dialog [(visible)]="showAddWatchlist">

  <div class="popup">
    <div class="shell shell--medium">
      <div class="form form--menage">

        <form action="?" method="post">
          <section class="form__section">
            <div class="form__head">
              <h6 class="form__title">Add Watchlist</h6>
            </div>

            <div class="form__body">
              <div class="form__row">
                <label for="field-watchlist-name" class="hidden">Watchlist Name</label> 

                <div class="form__controls">
                  <input type="text" class="field" name="field-watchlist-name" id="field-watchlist-name" required />
                </div>

              </div>
            </div> 

            <div class="form__actions">
              <p class="form__hint">
                <em>50 characters left</em>
              </p> 

              <div class="form__actions__inner">

                <a (click)="showAddWatchlist = !showAddWatchlist" class="link-action link-action--small popup--close">Cancel</a>  

                <input type="submit" value="Add" class="btn btn--red form__btn" />
              </div>
            </div>
          </section>
        </form>

      </div>
    </div>
  </div>

</app-dialog>


<!-- ********************* Rename Watchlist *********************  -->
<app-dialog [(visible)]="showRenameWatchlist">

  <div class="popup">
    <div class="shell shell--smaller">
      <div class="form form--menage"> 

        <form action="?" method="post">
          <section class="form__section">
            <div class="form__head">
              <h6 class="form__title">Rename Watchlist</h6>
            </div>  

            <div class="form__body">
              <div class="form__row">
                <label for="field-watchlist-name" class="hidden">Watchlist Name</label> 

                <div class="form__controls">
                  <input type="text" class="field" name="field-watchlist-name" id="field-watchlist-name" required />
                </div>
              </div>
            </div>  

            <div class="form__actions">
              <p class="form__hint">
                <em>24 characters left</em>
              </p>  

              <div class="form__actions__inner">
                <a (click)="showRenameWatchlist = !showRenameWatchlist" class="link-action link-action--small popup--close">Cancel</a>  

                <input type="submit" value="Save" class="btn btn--red form__btn" />
              </div>
            </div>
          </section>
        </form> 

      </div>
    </div>
  </div>

</app-dialog>


<!-- ********************* Delete Watchlist *********************  -->
<app-dialog [(visible)]="showDeleteWatchlist">

  <div class="popup">
    <div class="shell shell--xxsmall">
      <div class="form form--menage">

        <form action="?" method="post">
          <section class="form__section">
            <div class="form__head">
              <h6 class="form__title">Delete watchlist</h6>
            </div> 

            <div class="form__actions">
              <div class="form__actions__inner">
                <a (click)="showDeleteWatchlist = !showDeleteWatchlist" class="link-action link-action--small popup--close">Cancel</a>  

                <input type="submit" value="Delete" class="btn btn--red form__btn" />
              </div>
            </div>
          </section>
        </form>

      </div>
    </div>
  </div>

</app-dialog>

