<!-- ********************* Watchlist Static State *********************  -->
<aside class="section__aside box--bordered mobile--hidden" [hidden]="watchlistEditState">
										
  <div class="box__head box__head--relative">
    <h5 class="box__title">Watchlist</h5>
  
    <div class="dropdown select" [ngClass]="{ 'active': watchlistSettingsActive }">
    	<div class="dropdown__head dropdown--trigger" (click)="onWatchlistSettingsClick()"></div>
  
    	<div class="dropdown__body">
    		<ul class="list-actions">
    			<li>
    				<a href="#">Edit Watchlist</a>
    			</li>
  
    			<li>
    				<a href="ajax/popup-add-watchlist.html" class="popup--trigger">Add Watchlist</a>
    			</li>
  
    			<li>
    				<a href="ajax/popup-rename-watchlist.html" class="popup--trigger">Rename Watchlist</a>
    			</li>
  
    			<li>
    				<a href="ajax/popup-delete-watchlist.html" class="popup--trigger">Delete Watchlist</a>
    			</li>
    		</ul><!-- /.list-actions -->
    	</div><!-- /.dropdown__body -->
    </div><!-- /.dropdown select -->
  </div><!-- /.box__head box__head-relative -->

  
  <ul class="stocks">
    
  	<li class="stock" *ngFor="let row of watchlist.items">
  		<h6 class="stock__title">{{ row | uppercase }}</h6>
  
  		<ul class="list-prices">
  			<li>
  				<strong>{{ quotes[row]?.last | currency:'USD':true:'1.2-2' }}</strong>
  			</li>
  
  			<li>
  				<strong class="title-red">
  					{{ quotes[row]?.dailyChange() | currency:'USD':true:'1.2-2' }} <span>({{ quotes[row]?.percentChange() | number:'1.2-2' }}%)</span>
  				</strong>
  			</li>
  		</ul><!-- /.list-prices -->
  
  		<footer class="stock__footer">
  			<em>{{ quotes[row]?.description }}</em>
  		</footer>
  	</li>
  	
  </ul>
</aside>


<!-- ********************* Watchlist Edit State *********************  -->
<aside class="section__aside box--bordered mobile--hidden" [hidden]="! watchlistEditState">
 
  <div class="box__head box__head--relative box__head--medium">
    <h5 class="box__title">Edit Watchlist</h5>
    
    <div class="box__absolute">
      <a href="#" class="link-action link-action--small">Done</a>
    </div>
  </div>

  <div class="box__search">
    <div class="dropdown dropdown--search active">
      
      <input type="text" value="" placeholder="Search" class="field" />
      
      <div class="dropdown__body">

        <ul class="list-actions">
          <li *ngFor="let row of typeAheadList">
            <a href="#">
              <span>{{ row.symbol | uppercase }}</span>
              {{ row.description }}
            </a>
          </li>
        </ul>
      
      </div>

    </div>
  </div>

  <ul class="list-results">
    <li *ngFor="let row of watchlist.items">
      <h6>{{ row | uppercase }}</h6>
      
      <p>
        <em>{{ quotes[row]?.description }}</em>
      </p>
      
      <a href="#" class="btn-action btn--delete">
        <i class="fa fa-trash"></i>
      </a>
      
      <a href="#" class="btn-action">
        <i class="fa fa-bars"></i>
      </a>
    </li>
  </ul>
</aside>