<app-backtest-sub-nav></app-backtest-sub-nav>

<div class="content__inner">
  <div class="shell shell--fluid">
    <div class="article">
      <div class="article__head">
        <h5>Backtests</h5> 

        <a routerLink="/backtest/create" class="btn">          
          New Backtest
        </a>
      </div>

      <div class="article__body article__body--primary">
        <div class="table-simple table-simple--primary js-table">
          <div class="table__body">

            <table>
              <thead>
                <tr>
                  <th style="width: 200px;">
                    <ins>Screener</ins>
                  </th>

                  <th style="width: 120px;">
                    <ins>Start Date</ins>
                  </th>

                  <th style="width: 120px;">
                    <ins>End Date</ins>
                  </th>

                  <th style="width: 130px;">
                    <ins>Position Size</ins>
                  </th>

                  <th style="width: 150px;">
                    <ins>Trade Select</ins>
                  </th>

                  <th style="width: 130px;">
                    <ins>Trade Count</ins>
                  </th>

                  <th>
                    <ins>Starting Balance</ins>
                  </th>

                  <th>
                    <ins>Ending Balance</ins>
                  </th>

                  <th>
                    <ins>Win %</ins>
                  </th>

                  <th>
                    <ins>Profit</ins>
                  </th>

                  <th>
                    <ins>Return</ins>
                  </th>

                  <th>
                    <ins>CAGR</ins>
                  </th>
                </tr>
              </thead>

              <tbody>

                <tr *ngFor="let row of backtests;"> 
                  <td>
                    <a routerLink="/backtest/{{ row.Id }}" title="Backtest Id: {{ row.Id }}">{{ row.Screen.Name }}</a>
                  </td>

                  <td>
                    {{ row.StartDate | date:'shortDate' }}
                  </td>

                  <td>
                    {{ row.EndDate | date:'shortDate' }}
                  </td>

                  <td>
                    {{ row.PositionSize }}
                  </td>

                  <td>
                    {{ row.TradeSelect }}
                  </td>

                  <td>
                    {{ row.TradeCount }}
                  </td>

                  <td>
                    {{ row.StartingBalance | currency:'USD':'symbol':'1.2-2' }}
                  </td>

                  <td>
                    {{ row.EndingBalance | currency:'USD':'symbol':'1.2-2' }}
                  </td>

                  <td>
                    {{ row.WinRatio | number:'1.2-2' }}%
                  </td>

                  <td>
                    {{ row.Profit | currency:'USD':'symbol':'1.2-2' }}
                  </td>

                  <td>
                    {{ row.Return | number:'1.2-2' }}%
                  </td>

                  <td>
                    {{ row.CAGR | number:'1.2-2' }}%
                  </td>

                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>



  </div>
</div>