<div class="header-wrapper">
  
  <app-main-nav></app-main-nav>

	<div class="bar mobile--hidden">

		<div class="shell shell--fluid" *ngIf="section == 'trading'">
			
			<div class="bar__inner">
				<nav class="nav-centered">
					<ul>
						<li [ngClass]="{ 'current': (subSection == 'dashboard') }">
							<a routerLink="/">Dashboard</a>
						</li><!-- /.current -->

						<li [ngClass]="{ 'current': (subSection == 'screener') }">
							<a routerLink="/screener">Screener</a>
						</li>

						<li [ngClass]="{ 'current': (subSection == 'trades') }">
							<a routerLink="/trades">Trades</a>
						</li>
					</ul>
				</nav>

				<a class="btn btn--pink" (click)="onTradeClick()" *ngIf="(subSection == 'dashboard')">Trade</a>

				<!-- <a routerLink="/screener" class="btn btn--border-blue" *ngIf="(subSection == 'screener') && (action == 'add-edit')">Cancel</a> -->
				
				<a routerLink="/screener/add" class="btn btn--pink" *ngIf="(subSection == 'screener') && (action == 'list')">
					<i class="ico-plus-alt"></i>
					Add Screen
				</a>

			</div>
		</div>
	




		<div class="shell shell--fluid" *ngIf="section == 'reports'">
			
			<div class="bar__inner">
				<nav class="nav-centered">
					<ul>
						<li [ngClass]="{ 'current': (subSection == 'account-summary') }">
							<a routerLink="/reports/account-summary">Account Summary</a>
						</li><!-- /.current -->

						<li [ngClass]="{ 'current': (subSection == 'account-history') }">
							<a routerLink="/reports/account-history">Account History</a>
						</li>

						<li [ngClass]="{ 'current': (subSection == 'custom') }">
							<a routerLink="/reports/custom">Custom Reports</a>
						</li>
					</ul>
				</nav>

			</div>
		</div>




	</div>

</div>