<div class="content__inner trade-builder" *ngIf="showTradeBuilder">
  <div class="shell shell--large">
    <aside class="section box--bordered">
      <div class="tabs">
        <div class="tabs__head box__head box__head--relative">
          
          <nav class="tabs__nav">
            <ul>
              <li [ngClass]="{'current': (tradeDetails.Class == 'equity') }">
                <a (click)="setTradeClass('equity')">Equity</a>
              </li>

              <li [ngClass]="{'current': (tradeDetails.Class == 'option') }">
                <a (click)="setTradeClass('option')">Option</a>
              </li>

              <li [ngClass]="{'current': (tradeDetails.Class == 'multileg') }">
                <a (click)="setTradeClass('multileg')">Multileg</a>
              </li>

              <li [ngClass]="{'current': (tradeDetails.Class == 'combo') }">
                <a (click)="setTradeClass('combo')">Combo</a>
              </li>
            </ul>
          </nav>

          <div class="box__absolute box__absolute--close">
            <a class="btn-close btn-close--large" (click)="toggleTradeBuilder()"></a>
          </div>

        </div>

        <div class="tabs__body">
          <div class="tab" [ngClass]="{'current': (tradeDetails.Class == 'equity') }">
            Equity
          </div>

          <div class="tab" [ngClass]="{'current': (tradeDetails.Class == 'option') }">
            Option
          </div>

          <div class="tab" [ngClass]="{'current': (tradeDetails.Class == 'multileg') }">
            <app-trade-multi-leg [quotes]="quotes" [tradeDetails]="tradeDetails"></app-trade-multi-leg>
          </div>

          <div class="tab" [ngClass]="{'current': (tradeDetails.Class == 'combo') }">
            Combo
          </div>
        </div>

      </div><!-- /.tabs -->
    </aside><!-- /.section box-bordered -->
  </div><!-- /.shell shell-large -->
</div><!-- /.content__inner -->