<div class="content__inner trade-builder" *ngIf="showTradeBuilder">
  <div class="shell shell--large">
    <aside class="section box--bordered">
      <div class="tabs">
        <div class="tabs__head box__head box__head--relative">
          
          <nav class="tabs__nav">
            <ul>
              <li [ngClass]="{'current': (tradeDetails.Class == 'equity') }">
                <a (click)="setTradeClass('equity')">Equity</a>
              </li>

              <li [ngClass]="{'current': (tradeDetails.Class == 'option') }">
                <a (click)="setTradeClass('option')">Option</a>
              </li>

              <li [ngClass]="{'current': (tradeDetails.Class == 'multileg') }">
                <a (click)="setTradeClass('multileg')">Multileg</a>
              </li>

              <li [ngClass]="{'current': (tradeDetails.Class == 'combo') }">
                <a (click)="setTradeClass('combo')">Combo</a>
              </li>
            </ul>
          </nav>

          <div class="box__absolute box__absolute--close">
            <a class="btn-close btn-close--large" (click)="toggleTradeBuilder()"></a>
          </div>

        </div>

        <div class="tabs__body">
          <div class="tab"></div><!-- /.tab -->

          <div class="tab"></div><!-- /.tab -->

          <div class="tab current">
            <div class="tab__flex">


              <div class="tab__inner">
                <div class="search">
                  <form (submit)="onSearchSubmit()">
                    <div class="dropdown dropdown--search trade-search">
                      <app-typeahead-symbols (selected)="onSearchTypeAheadClick($event)" clearAfterSelect="false" class="typeahead-cont"></app-typeahead-symbols>
                      <input type="submit" value="Search" class="btn search__btn" />
                    </div>
                  </form>
                </div>
              </div>


              <div class="tab__inner" *ngIf="symbol">
                <div class="table--stocks">
                  <table>
                    <tr>
                      <td>{{ symbol?.Name }}</td>

                      <td>
                        <strong [ngClass]="{'title-red': (quotes[symbol.ShortName]?.change_percentage < 0), 'title-green': (quotes[symbol.ShortName]?.change_percentage > 0)}">{{ quotes[symbol.ShortName]?.change | currency:'USD':'symbol':'1.2-2' }}</strong>
                      </td>

                      <td>
                        <strong [ngClass]="{'title-red': (quotes[symbol.ShortName]?.change_percentage < 0), 'title-green': (quotes[symbol.ShortName]?.change_percentage > 0)}">({{ quotes[symbol.ShortName]?.change_percentage | number:'1.2-2' }}%)</strong>
                      </td>
                    </tr>

                    <tr>
                      <td>{{ symbol?.ShortName }}</td>

                      <td>
                        BID <strong>{{ quotes[symbol.ShortName]?.bid | currency:'USD':'symbol':'1.2-2' }}</strong>
                      </td>

                      <td>
                        ASK <strong>{{ quotes[symbol.ShortName]?.ask | currency:'USD':'symbol':'1.2-2' }}</strong>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>


            </div><!-- /.tab__flex -->

            <div class="form form--search" *ngIf="symbol">
              <form action="?" method="post">
                <div class="form__body">
                  <div class="form__row">
                    <div class="form__col form__col--clear form__col--size4">
                      


                      <div class="form__row" *ngFor="let row of tradeDetails.Legs; let k = index">
                        <div class="form__col form__col--size1">
                          <label for="field-expire" class="hidden">Expirations</label>

                          <div class="form__controls">
                            <div class="select">
                              <select name="Expire[]" id="field-expire" (change)="onExpireChange(row, k)" [(ngModel)]="row.Expire">
                                <option value="{{ row2 }}" *ngFor="let row2 of symbolExpirations">{{ row2 | date:'shortDate' }}</option>
                              </select>
                            </div>
                          </div>

                        </div><!-- /.form__col form__col-size1 -->

                        <div class="form__col form__col--size2">
                          <label for="field-strike" class="hidden">Strike</label>

                          <div class="form__controls">
                            <div class="select">
                              <select name="Strike[]" id="field-strike" [(ngModel)]="row.Strike">
                                <option value="{{ row2.Strike }}" *ngFor="let row2 of row.Chain?.Calls">{{ row2.Strike }}</option>
                              </select>
                            </div>
                          </div>
                        </div><!-- /.form__col form__col-size3 -->

                        <div class="form__col form__col--size2">
                          <label for="field-call" class="hidden">Call</label>

                          <div class="form__controls">
                            <div class="select">
                              <select name="Type[]" id="field-call" (change)="onTypeChange(row, k)" [(ngModel)]="row.Type">
                                <option value="Calls">Call</option>
                                <option value="Puts">Put</option>
                              </select>
                            </div>
                          </div>
                        </div><!-- /.form__col form__col-size3 -->

                        <div class="form__col form__col--size3">
                          <label for="field-side" class="hidden">Side</label>

                          <div class="form__controls">
                            <div class="select">
                              <select name="Side[]" id="field-side" [(ngModel)]="row.Side">
                                <option value="buy_to_open">Buy to Open</option>
                                <option value="sell_to_open">Sell to Open</option>
                                <option value="buy_to_close">Buy to Close</option>
                                <option value="sell_to_close">Sell to Close</option>
                              </select>
                            </div><!-- /.select not-selected -->
                          </div><!-- /.form__controls -->
                        </div><!-- /.form__col form__col-size3 -->


                        <div class="form__col form__col--size2">
                          <label for="field-quantity-{{ k }}" class="hidden">Quantity</label>
                          <div class="form__controls">
                            <input type="text" class="field" name="Qty[]" id="field-quantity-{{ k }}" placeholder="Quantity" [(ngModel)]="row.Qty" />
                          </div>
                        </div>


                        <div class="form__col form__col--size7">
                          <a href="#" class="btn-square">
                            <i class="ico-trash"></i>
                          </a>

                          <a href="#" class="btn-square">
                            <i class="ico-plus-blue"></i>
                          </a>
                        </div><!-- /.form__col form__col-size7 -->
                      </div><!-- /.form__row -->







                      <div class="form__row">

                        <div class="form__col form__col--size1">
                          <label for="field-search-order-type" class="hidden">Order Type</label>
                          <div class="form__controls">

                            <div class="select">
                              <select name="OrderType" id="field-search-order-type" [(ngModel)]="tradeDetails.OrderType">
                                <option value="market">Market</option>
                                <option value="debit">Net Debit</option>
                                <option value="credit">Net Credit</option>
                                <option value="even">Even</option>                                
                              </select>
                            </div>

                          </div>
                        </div>



                        <div class="form__col form__col--size3">
                          <label for="field-search-day" class="hidden">Day</label>
                          <div class="form__controls">

                            <div class="select">
                              <select name="Duration" id="field-search-day" [(ngModel)]="tradeDetails.Duration">
                                <option value="day">Day</option>
                                <option value="gtc">GTC</option>
                              </select>
                            </div>

                          </div>
                        </div>

                      </div><!-- /.form__row -->
                    </div><!-- /.form__col form__col-clear form__col-size4 -->



                    <div class="form__col form__col--clear form__col--size5">

                      <div class="table-rows" *ngFor="let row of tradeDetails.Legs; let k = index;">
                        <table>
                          <tr>
                            <td>APY May 10 2017 $198</td>

                            <td>CALL</td>

                            <td>
                              <strong class="title-green">0.00</strong>
                            </td>

                            <td>
                              <strong class="title-green">(0.00)</strong>
                            </td>
                          </tr>

                          <tr>
                            <td>
                              BID <strong>22.66 x 3</strong>
                            </td>

                            <td colspan="3">
                              ASK <strong>22.67 x 30</strong>
                            </td>
                          </tr>
                        </table>
                      </div>

                    </div>

                  </div><!-- /.form__row -->
                </div><!-- /.form__body -->



                <div class="form__actions">
                  <div class="form__actions__inner">
                    <input type="reset" value="Reset" class="link-action" />

                    <input type="submit" value="Preview" class="btn form__btn" />
                  </div><!-- /.form__actions__inner -->
                </div><!-- /.form__actions -->
              </form>
            </div><!-- /.form form-search -->
          </div><!-- /.tab current -->

          <div class="tab"></div><!-- /.tab -->
        </div><!-- /.tabs__body -->
      </div><!-- /.tabs -->
    </aside><!-- /.section box-bordered -->
  </div><!-- /.shell shell-large -->
</div><!-- /.content__inner -->