

  <div class="article__head">
    <h6>Account Details</h6>
    <a  class="btn">Change</a>
  </div>
  
  <div class="article__body">

    <ul class="list-data">
      <li>
        <h5>Payment Plan</h5>

        <h6>Plan Billed Monthly</h6>
      </li>

      <li>
        <h5>Payment Method</h5>

        <h6>Visa ending in 8888, exp: 08/2028</h6>
      </li>

      <li>
        <h5>Next Payment Due</h5>

        <h6>$20.00 due on 11/10/2017</h6>
      </li>

    </ul>

    <div class="article__actions article__actions--primary">
      <a class="link red">Cancel Your Account</a>
    </div>
  </div>

