<div class="article__head">
  <h6>Account Details</h6>
  <a class="btn" *ngIf="userSubscription.Status != 'trialing'">Change</a>
</div>

<div class="article__body" *ngIf="userSubscription.Status != 'trialing'">

  <ul class="list-data">
    <li>
      <h5>Payment Plan</h5>
      <h6 *ngIf="userSubscription.BillingInterval == 'year'">Plan Billed Yearly</h6>
      <h6 *ngIf="userSubscription.BillingInterval == 'month'">Plan Billed Monthly</h6>
    </li>

    <li *ngIf="! userSubscription.CardBrand">
      <h5>Payment Method</h5>
      <div class="mt-5">
        <a class="link red" (click)="doShowUpdateCreditCard()">Update Credit Card</a>
      </div>
    </li>

    <li *ngIf="userSubscription.CardBrand">
      <h5>Payment Method</h5>

      <h6>
        {{ userSubscription.CardBrand }} ending in {{ userSubscription.CardLast4 }}, 
        exp: {{ userSubscription.CardExpireMonth }}/{{ userSubscription.CardExpireYear }}
      </h6>
    </li>

    <li>
      <h5>Next Payment Due</h5>

      <h6>{{ userSubscription.Amount | currency }} due on {{ userSubscription.CurrentPeriodEnd | date:'shortDate' }}</h6>
    </li>

  </ul>

  <div class="article__actions article__actions--primary">
    <a class="link red" (click)="cancelAccount()">Cancel Your Account</a>
  </div>
</div>




<div class="article__body" *ngIf="userSubscription.Status == 'trialing'">
  <ul class="list-data">
    <li>
      <h5>Payment Plan</h5>

      <h6>Free Trial until {{ userSubscription.TrialEnd | date:'shortDate' }}</h6>
    </li>
  </ul><!-- /.list-data -->

  <div class="article__actions-alt">
    <a href="#" class="btn btn--size1">Upgrade To Full Account</a>

    <h6 class="title-arrow">Enjoying Options Cafe? Upgrade now!</h6><!-- /.title-arrow -->
  </div><!-- /.article__actions-alt -->

  <div class="article__actions article__actions--primary">
    <a class="link red" (click)="cancelAccount()">Cancel Your Account</a>
  </div>
</div>


<app-dialog [(visible)]="showCloseDownAccount">

  <div class="popup-alt">
    <div class="popup__inner">
      <div class="article article--size2">

        <div class="article__head">
          <h6>Cancel Account</h6>
        </div>

        <div class="article__body article__body--primary">
          <div class="form-info form">

            <p>To close down your account please contact us via the Help link in the upper right or email us at help@options.cafe.</p>

            <div class="form__actions">
              <a (click)="doCancelAccount()" class="btn">OK</a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</app-dialog>




<app-dialog [(visible)]="showUpdateCreditCard">

  <div class="popup-alt">
    <div class="popup__inner popup__inner--size1">
      <div class="article">
        <div class="article__head">
          <h6>Update Card</h6>
        </div>

        <div class="article__body article__body--primary">
          <div class="form-info form-error">

            <app-settings-account-card (onClose)="doCancelUpdateCreditCard($event)"></app-settings-account-card>
          
          </div>
        </div>
      </div>
    </div>
  </div>

</app-dialog>