<app-trading-layout>


<div class="content__inner">
  <div class="shell shell--fluid">

<ul class="tables mobile--hidden">
	<li class="table box--bordered">
		<div class="table__inner">
			<table>
				<tr>
					<th>DOW</th>

					<td>
						<span>$150.52</span>
					</td>

					<th>NASDAQ</th>

					<td>
						<span>$150.52</span>
					</td>

					<th>VIX</th>

					<td>
						<span>$150.52</span>
					</td>

					<th>S&amp;P 500</th>

					<td>
						<span>$150.52</span>
					</td>
				</tr>

				<tr>
					<td>$10,238.45</td>

					<td>
						<span>(0.73%)</span>
					</td>

					<td>$10,238.45</td>

					<td>
						<span>(0.73%)</span>
					</td>

					<td>$10,238.45</td>

					<td>
						<span>(0.73%)</span>
					</td>

					<td>$10,238.45</td>

					<td>
						<span>(0.73%)</span>
					</td>
				</tr>
			</table>
		</div><!-- /.table__inner -->
	</li><!-- /.table box-bordered -->

	<li class="table box--bordered">
		<h5 class="table__title">S&amp;P 500 IVR:</h5>

		<div class="table__inner">
			<table>
				<tr>
					<td>
						<ins>30 DAY</ins>
					</td>

					<td>
						<ins>30 DAY</ins>
					</td>

					<td>
						<ins>30 DAY</ins>
					</td>

					<td>
						<ins>30 DAY</ins>
					</td>
				</tr>

				<tr>
					<td>92.5%</td>

					<td>92.5%</td>

					<td>92.5%</td>

					<td>92.5%</td>
				</tr>
			</table>
		</div><!-- /.table__inner -->
	</li><!-- /.table box-bordered -->
</ul><!-- /.tables mobile-hidden -->


								<section class="section">
									<aside class="section__aside box--bordered mobile--hidden">
										<div class="box__head box__head--relative">
											<h5 class="box__title">Watchlist</h5><!-- /.box__title -->

											<div class="dropdown select">
												<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->

												<div class="dropdown__body">
													<ul class="list-actions">
														<li>
															<a href="#">Edit Watchlist</a>
														</li>

														<li>
															<a href="ajax/popup-add-watchlist.html" class="popup--trigger">Add Watchlist</a>
														</li>

														<li>
															<a href="ajax/popup-rename-watchlist.html" class="popup--trigger">Rename Watchlist</a>
														</li>

														<li>
															<a href="ajax/popup-delete-watchlist.html" class="popup--trigger">Delete Watchlist</a>
														</li>
													</ul><!-- /.list-actions -->
												</div><!-- /.dropdown__body -->
											</div><!-- /.dropdown select -->
										</div><!-- /.box__head box__head-relative -->

										<ul class="stocks">
	<li class="stock">
		<h6 class="stock__title">NASDAQ</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-red">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>iPath S&amp;P 500 VIX Short Term Futures TM ETN</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">AAL</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-green">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>American Airlines Group Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">ADBE</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-green">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Adobe Systems Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">NASDAQ</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-red">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Analog Devices Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">ADI</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-green">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Automatic Data Processing Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">ADSK</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-red">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Autodesk Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">AKAM</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-red">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Akamai Technologies Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">ALXN</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-red">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Alexion Pharmaceuticals Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">AMAT</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-green">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Applied Materials Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">AMGN</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-red">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Amgen Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">AMZN</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-green">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Amazon.com Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->

	<li class="stock">
		<h6 class="stock__title">ATVI</h6><!-- /.stock__title -->

		<ul class="list-prices">
			<li>
				<strong>$10,238.45</strong>
			</li>

			<li>
				<strong class="title-red">
					$150.52 <span>(0.73%)</span>
				</strong>
			</li>
		</ul><!-- /.list-prices -->

		<footer class="stock__footer">
			<em>Activision Blizzard Inc</em>
		</footer><!-- /.stock__footer -->
	</li><!-- /.stock -->
</ul><!-- /.stocks -->

									</aside><!-- /.section__aside box-bordered -->

									<div class="section__content">
										<ul class="boxes">
											<li class="box--bordered mobile--hidden">
												<div class="box__head box__head--relative box__head--small">
													<div class="box__flex">
														<input type="text" value="AMZN" class="field field--small" />

														<h5 class="box__title">Amazon.com Inc</h5><!-- /.box__title -->

														<strong class="title-green">$436.42 (9.87%)</strong>
													</div><!-- /.box__flex -->

													<div class="box__absolute select">
														<select name="field-period" id="field-period">
															<option value="period-1">Today (1 min)</option>

															<option value="period-2">Today (30 min)</option>

															<option value="period-3">Today (1 hour)</option>
														</select>
													</div><!-- /.box__absolute select -->
												</div><!-- /.box__head box__head-relative box__head-small -->

												<div class="box__body">
													<figure class="box__image">
														<img src="css/images/temp/chart-1.png" alt="" />
													</figure><!-- /.box__image -->
												</div><!-- /.box__body -->
											</li><!-- /.box-bordered -->

											<li class="box--bordered">
												<div class="box__head box__head--relative">
													<h5 class="box__title">Put Credit Spreads</h5><!-- /.box__title -->

													<div class="box__absolute">
														<p>
															CREDIT

															<strong>$421.56</strong>
														</p>
													</div><!-- /.box__absolute -->
												</div><!-- /.box__head box__head-relative -->

												<div class="box__body box__body--small">
													<div class="box__inner">
														<div class="table table--large">
															<div class="table__inner">
																<table>
																	<tr>
																		<td>
																			<ins>Contracts</ins>
																		</td>

																		<td>
																			<ins>Open</ins>
																		</td>

																		<td>
																			<ins>Lots</ins>
																		</td>

																		<td>
																			<ins>Away</ins>
																		</td>

																		<td>
																			<ins>Days</ins>
																		</td>

																		<td>
																			<ins>Credit</ins>
																		</td>

																		<td>
																			<ins>P&amp;L</ins>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>
																			<strong>12/14/2016</strong>
																		</td>

																		<td>
																			<strong>5</strong>
																		</td>

																		<td>
																			<strong>2.95%</strong>
																		</td>

																		<td>
																			<strong>14</strong>
																		</td>

																		<td>
																			<strong>$105.00</strong>
																		</td>

																		<td>
																			<strong class="title-red">-$10,238.45</strong>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>
																	</tr>
																</table>
															</div><!-- /.table__inner -->

															<div class="dropdown select">
																<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->

																<div class="dropdown__body">
																	<ul class="list-actions">
																		<li>
																			<a href="#">Position Details</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ $0.03</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Market</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Limit</a>
																		</li>
																	</ul><!-- /.list-actions -->
																</div><!-- /.dropdown__body -->
															</div><!-- /.dropdown select -->
														</div><!-- /.table table-large -->

														<div class="progress">
															<strong class="progress__number">21.8%</strong>

															<div class="progress__bar">
																<div class="progress__amount"></div><!-- /.progress__amount -->
															</div><!-- /.progress__bar -->
														</div><!-- /.progress -->
													</div><!-- /.box__inner -->

													<div class="box__inner">
														<div class="table table--large">
															<div class="table__inner">
																<table>
																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>
																			<strong>12/14/2016</strong>
																		</td>

																		<td>
																			<strong>5</strong>
																		</td>

																		<td>
																			<strong>2.95%</strong>
																		</td>

																		<td>
																			<strong>14</strong>
																		</td>

																		<td>
																			<strong>$105.00</strong>
																		</td>

																		<td>
																			<strong class="title-green">-$10,238.45</strong>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>
																	</tr>
																</table>
															</div><!-- /.table__inner -->

															<div class="dropdown select">
																<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->

																<div class="dropdown__body">
																	<ul class="list-actions">
																		<li>
																			<a href="#">Position Details</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ $0.03</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Market</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Limit</a>
																		</li>
																	</ul><!-- /.list-actions -->
																</div><!-- /.dropdown__body -->
															</div><!-- /.dropdown select -->
														</div><!-- /.table table-large -->

														<div class="progress">
															<strong class="progress__number">21.8%</strong>

															<div class="progress__bar">
																<div class="progress__amount"></div><!-- /.progress__amount -->
															</div><!-- /.progress__bar -->
														</div><!-- /.progress -->
													</div><!-- /.box__inner -->

													<div class="box__inner">
														<div class="table table--large">
															<div class="table__inner">
																<table>
																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>
																			<strong>12/14/2016</strong>
																		</td>

																		<td>
																			<strong>5</strong>
																		</td>

																		<td>
																			<strong>2.95%</strong>
																		</td>

																		<td>
																			<strong>14</strong>
																		</td>

																		<td>
																			<strong>$105.00</strong>
																		</td>

																		<td>
																			<strong class="title-green">-$10,238.45</strong>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>
																	</tr>
																</table>
															</div><!-- /.table__inner -->

															<div class="dropdown select">
																<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->

																<div class="dropdown__body">
																	<ul class="list-actions">
																		<li>
																			<a href="#">Position Details</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ $0.03</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Market</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Limit</a>
																		</li>
																	</ul><!-- /.list-actions -->
																</div><!-- /.dropdown__body -->
															</div><!-- /.dropdown select -->
														</div><!-- /.table table-large -->

														<div class="progress">
															<strong class="progress__number">21.8%</strong>

															<div class="progress__bar">
																<div class="progress__amount"></div><!-- /.progress__amount -->
															</div><!-- /.progress__bar -->
														</div><!-- /.progress -->
													</div><!-- /.box__inner -->
												</div><!-- /.box__body box__body-small -->
											</li><!-- /.box-bordered -->

											<li class="box--bordered">
												<div class="box__head box__head--relative">
													<h5 class="box__title">Orders</h5><!-- /.box__title -->
												</div><!-- /.box__head box__head-relative -->

												<div class="box__body">
													<div class="box__inner">
														<div class="table table--large">
															<div class="table__inner">
																<table>
																	<tr>
																		<td>
																			<ins>Symbols</ins>
																		</td>

																		<td>
																			<ins>Last</ins>
																		</td>

																		<td>
																			<ins>Quantity</ins>
																		</td>

																		<td>
																			<ins>Type</ins>
																		</td>

																		<td>
																			<ins>Type</ins>
																		</td>

																		<td>
																			<ins>Price</ins>
																		</td>

																		<td>
																			<ins>Filled</ins>
																		</td>

																		<td>
																			<ins>Status</ins>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>$0.08</td>

																		<td>5</td>

																		<td>gtc</td>

																		<td>debit</td>

																		<td>$0.03</td>

																		<td>$0.03</td>

																		<td>
																			<strong class="title-green">Filled</strong>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>$0.11</td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>
																	</tr>
																</table>
															</div><!-- /.table__inner -->

															<div class="dropdown select">
																<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->

																<div class="dropdown__body">
																	<ul class="list-actions">
																		<li>
																			<a href="#">Position Details</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ $0.03</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Market</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Limit</a>
																		</li>
																	</ul><!-- /.list-actions -->
																</div><!-- /.dropdown__body -->
															</div><!-- /.dropdown select -->
														</div><!-- /.table table-large -->
													</div><!-- /.box__inner -->

													<div class="box__inner">
														<div class="table table--large">
															<div class="table__inner">
																<table>
																	<tr>
																		<td>
																			<ins>Symbols</ins>
																		</td>

																		<td>
																			<ins>Last</ins>
																		</td>

																		<td>
																			<ins>Quantity</ins>
																		</td>

																		<td>
																			<ins>Type</ins>
																		</td>

																		<td>
																			<ins>Type</ins>
																		</td>

																		<td>
																			<ins>Price</ins>
																		</td>

																		<td>
																			<ins>Filled</ins>
																		</td>

																		<td>
																			<ins>Status</ins>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>$0.08</td>

																		<td>5</td>

																		<td>gtc</td>

																		<td>debit</td>

																		<td>$0.03</td>

																		<td>$0.03</td>

																		<td>
																			<strong class="title-green">Filled</strong>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>$0.11</td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>
																	</tr>
																</table>
															</div><!-- /.table__inner -->

															<div class="dropdown select">
																<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->

																<div class="dropdown__body">
																	<ul class="list-actions">
																		<li>
																			<a href="#">Position Details</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ $0.03</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Market</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Limit</a>
																		</li>
																	</ul><!-- /.list-actions -->
																</div><!-- /.dropdown__body -->
															</div><!-- /.dropdown select -->
														</div><!-- /.table table-large -->
													</div><!-- /.box__inner -->

													<div class="box__inner">
														<div class="table table--large">
															<div class="table__inner">
																<table>
																	<tr>
																		<td>
																			<ins>Symbols</ins>
																		</td>

																		<td>
																			<ins>Last</ins>
																		</td>

																		<td>
																			<ins>Quantity</ins>
																		</td>

																		<td>
																			<ins>Type</ins>
																		</td>

																		<td>
																			<ins>Type</ins>
																		</td>

																		<td>
																			<ins>Price</ins>
																		</td>

																		<td>
																			<ins>Filled</ins>
																		</td>

																		<td>
																			<ins>Status</ins>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>$0.08</td>

																		<td>5</td>

																		<td>gtc</td>

																		<td>debit</td>

																		<td>$0.03</td>

																		<td>$0.03</td>

																		<td>
																			<strong class="title-green">Filled</strong>
																		</td>
																	</tr>

																	<tr>
																		<td>
																			SPY Jan 18 2017

																			<strong class="table__surrounded">$216.00</strong>

																			Put
																		</td>

																		<td>$0.11</td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>

																		<td></td>
																	</tr>
																</table>
															</div><!-- /.table__inner -->

															<div class="dropdown select">
																<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->

																<div class="dropdown__body">
																	<ul class="list-actions">
																		<li>
																			<a href="#">Position Details</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ $0.03</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Market</a>
																		</li>

																		<li>
																			<a href="#">Close Trade @ Limit</a>
																		</li>
																	</ul><!-- /.list-actions -->
																</div><!-- /.dropdown__body -->
															</div><!-- /.dropdown select -->
														</div><!-- /.table table-large -->
													</div><!-- /.box__inner -->
												</div><!-- /.box__body -->
											</li><!-- /.box-bordered -->
										</ul><!-- /.boxes -->
									</div><!-- /.section__content -->
								</section><!-- /.section -->
							</div><!-- /.shell shell-fluid -->
						</div><!-- /.content__inner -->



</app-trading-layout>