<app-trading-sub-nav></app-trading-sub-nav>

<app-trade></app-trade>

<div class="content__inner">
  <div class="shell shell--fluid">

    <ul class="tables mobile--hidden">
    	<li class="table box--bordered" app-trading-market-quotes></li>
    	<li class="table box--bordered" app-trading-ivr></li>
    </ul>

    <section class="section">
      
      <app-watchlist></app-watchlist>								
    															
  		<div class="section__content">
  			<ul class="boxes">
  				<li class="box--bordered mobile--hidden">
  					<app-trading-dashboard-chart></app-trading-dashboard-chart>
  				</li>

          <app-trading-positions></app-trading-positions>

  				<li class="box--bordered">
            <app-trading-orders></app-trading-orders>
          </li>
  			</ul>
  		</div>
        
    </section>

	</div>
</div>