<app-trading-sub-nav></app-trading-sub-nav>

<div class="content__inner">
  <div class="shell shell--fluid">

    <ul class="tables mobile--hidden">
    	<li class="table box--bordered">
    	   <div class="table__inner">
          <app-trading-market-quotes></app-trading-market-quotes>
    		</div>
    	</li>
    
    	<li class="table box--bordered">
    		<h5 class="table__title">S&amp;P 500 IVR:</h5>
    
    		<div class="table__inner">
    			<table>
    				<tr>
    					<td>
    						<ins>30 DAY</ins>
    					</td>
    
    					<td>
    						<ins>30 DAY</ins>
    					</td>
    
    					<td>
    						<ins>30 DAY</ins>
    					</td>
    
    					<td>
    						<ins>30 DAY</ins>
    					</td>
    				</tr>
    
    				<tr>
    					<td>92.5%</td>
    
    					<td>92.5%</td>
    
    					<td>92.5%</td>
    
    					<td>92.5%</td>
    				</tr>
    			</table>
    		</div><!-- /.table__inner -->
    	</li><!-- /.table box-bordered -->
    </ul><!-- /.tables mobile-hidden -->

    <section class="section">
      
      <app-watchlist></app-watchlist>								
    															
  		<div class="section__content">
  			<ul class="boxes">
  				<li class="box--bordered mobile--hidden">
  					<app-trading-dashboard-chart></app-trading-dashboard-chart>
  				</li>

          <app-trading-positions></app-trading-positions>

  				<li class="box--bordered">
            <app-trading-orders></app-trading-orders>
          </li>
  			</ul>
  		</div>
        
    </section>

	</div>
</div>