P_UID=501
P_GID=20
RESTART=always
VIRTUAL_HOST=app.options.dev
COMPOSE_PROJECT_NAME=app.options.dev
GO_PATH=/Users/spicer/Development/golang


## App Configs
APP_ENV=local
APP_NAME=app.options.cafe
CACHE_DIR=/cache
SITE_URL=https://app.options.cafe

# Must be 32 chars big.
ENCRYPTION_KEY=

DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_DRIVER=smtp
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

DELTA_NEUTRAL_USERNAME=
DELTA_NEUTRAL_PASSWORD=

ROLLBAR_ENV=
ROLLBAR_TOKEN=

PAPERTRAIL_URL=

DROPBOX_ACCESS_TOKEN=

TRADIER_ADMIN_ACCESS_TOKEN=
TRADIER_CONSUMER_KEY=
TRADIER_CONSUMER_SECRET=

STRIPE_SECRET_KEY=
STRIPE_DEFAULT_PLAN=OC-MONTHLY-20.00-15.00-07-17-2017
STRIPE_SIGNING_SECRET=

MAILGUN_DOMAIN=
MAILGUN_API_KEY=

SENDY_SUBSCRIBE_LIST=
SENDY_NO_BROKER_LIST=

AWS_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SLACK_HOOK=https://hooks.slack.com/services/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

HEALTH_CHECK_SYMBOLS_IMPORT_URL=
HEALTH_CHECK_DOEODOPTIONSIMPORT_URL=