<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background Images</key>
	<array>
		<string>box-bg.jpg</string>
		<string>box-bg-5.jpg</string>
		<string>box-bg-1.jpg</string>
		<string>box-bg-4.jpg</string>
		<string>box-bg-2.jpg</string>
		<string>page-bg.jpg</string>
	</array>
	<key>EQ Autosaved</key>
	<false/>
	<key>EQ Created With Mail Designer Version</key>
	<string>30318</string>
	<key>EQ Defined Font Sets</key>
	<array>
		<dict>
			<key>CSString</key>
			<string>Helvetica, Arial, Roboto, Droid Sans, sans-serif</string>
			<key>Enabled</key>
			<true/>
			<key>FontArray</key>
			<array>
				<string>Helvetica</string>
				<string>Arial</string>
				<string>Roboto</string>
				<string>Droid Sans</string>
				<string>sans-serif</string>
			</array>
			<key>UniqueName</key>
			<string>Helvetica, Arial, Roboto, Droid Sans, sans-serif_31939A68-496A-4FD4-BAE8-D504A48A5EA2</string>
		</dict>
		<dict>
			<key>CSString</key>
			<string>Comic Sans MS, Marker Felt, Droid Sans, fantasy</string>
			<key>Enabled</key>
			<true/>
			<key>FontArray</key>
			<array>
				<string>Comic Sans MS</string>
				<string>Marker Felt</string>
				<string>Droid Sans</string>
				<string>fantasy</string>
			</array>
			<key>UniqueName</key>
			<string>Comic Sans MS, Marker Felt, Droid Sans, fantasy_D11AAFEF-FB46-49D1-A3EC-F0EFAA8A7BC6</string>
		</dict>
		<dict>
			<key>CSString</key>
			<string>Courier New, Courier, Droid Sans Mono, monospace</string>
			<key>Enabled</key>
			<true/>
			<key>FontArray</key>
			<array>
				<string>Courier New</string>
				<string>Courier</string>
				<string>Droid Sans Mono</string>
				<string>monospace</string>
			</array>
			<key>UniqueName</key>
			<string>Courier New, Courier, Droid Sans Mono, monospace_4E88424B-7220-4F4C-B1BF-065C9E905FFE</string>
		</dict>
		<dict>
			<key>CSString</key>
			<string>Impact, Arial Black, Avenir Next, sans-serif</string>
			<key>Enabled</key>
			<true/>
			<key>FontArray</key>
			<array>
				<string>Impact</string>
				<string>Arial Black</string>
				<string>Avenir Next</string>
				<string>sans-serif</string>
			</array>
			<key>UniqueName</key>
			<string>Impact, Arial Black, Avenir Next, sans-serif_51B4D323-A266-4F39-8C21-5DE81549839F</string>
		</dict>
		<dict>
			<key>CSString</key>
			<string>Times, Times New Roman, Droid Serif, serif</string>
			<key>Enabled</key>
			<true/>
			<key>FontArray</key>
			<array>
				<string>Times</string>
				<string>Times New Roman</string>
				<string>Droid Serif</string>
				<string>serif</string>
			</array>
			<key>UniqueName</key>
			<string>Times, Times New Roman, Droid Serif, serif_430A1B9D-4E44-4033-BC00-171189E55005</string>
		</dict>
	</array>
	<key>EQ Fully Compatible Mail Designer Short Version</key>
	<string>3.0</string>
	<key>EQ Fully Compatible Mail Designer Version</key>
	<string>30000</string>
	<key>EQ HTML Export Add Prefix</key>
	<true/>
	<key>EQ HTML Export Custom Folder Name</key>
	<string>forgot-password-step-1</string>
	<key>EQ HTML Export Custom HTML Filename</key>
	<string>index.html</string>
	<key>EQ HTML Export URL</key>
	<string>https://cdn.options.cafe/email/forgot-password-step-1/</string>
	<key>EQ Horizontal Ruler Guides</key>
	<array/>
	<key>EQ Image Info</key>
	<dict>
		<key>box-bg</key>
		<dict>
			<key>Compression Factor</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>box-bg-1</key>
		<dict>
			<key>Compression Factor</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>box-bg-2</key>
		<dict>
			<key>Compression Factor</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>box-bg-4</key>
		<dict>
			<key>Compression Factor</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>box-bg-5</key>
		<dict>
			<key>Compression Factor</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>image-1</key>
		<dict>
			<key>Compression Factor</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>image-2</key>
		<dict>
			<key>Alt Text</key>
			<string>Options Cafe Reset Password</string>
			<key>Compression Factor</key>
			<real>0.69999998807907104</real>
		</dict>
		<key>page-bg</key>
		<dict>
			<key>Compression Factor</key>
			<real>0.69999998807907104</real>
		</dict>
	</dict>
	<key>EQ Last Check Was Clean</key>
	<false/>
	<key>EQ Mail Message Subject</key>
	<string>Reset Your Password</string>
	<key>EQ Mobile Versions</key>
	<array>
		<dict>
			<key>Breakpoint Width</key>
			<integer>580</integer>
			<key>Page Width</key>
			<integer>320</integer>
		</dict>
	</array>
	<key>EQ Newest Edited Version</key>
	<string>30318</string>
	<key>EQ Preflight Info</key>
	<dict>
		<key>Validated Links</key>
		<array>
			<string>https://app.options.cafe</string>
			<string>http://www.example.org</string>
			<string>http://sendiy.com</string>
			<string>http://www.equinux.com/</string>
			<string>https://www.equinux.com/</string>
			<string>https://options.cafe</string>
			<string>https://app.options.cafe/reset-password</string>
			<string>https://basecamp.com/support</string>
			<string>https://options.cafe/support</string>
		</array>
	</dict>
	<key>EQ Required Mail Designer Short Version</key>
	<string>3.0</string>
	<key>EQ Required Mail Designer Version</key>
	<string>30000</string>
	<key>EQ Side Bar Content Panel</key>
	<dict>
		<key>ScrollOrigin</key>
		<string>{0, 0}</string>
		<key>SelectedTab</key>
		<string>Shapes</string>
	</dict>
	<key>EQ Side Bar Hidden</key>
	<integer>0</integer>
	<key>EQ Side Bar Tools Tab</key>
	<integer>1</integer>
	<key>EQ Side Bar Width</key>
	<string>0;348</string>
	<key>EQ Styles</key>
	<dict>
		<key>StylesV1</key>
		<array>
			<dict>
				<key>CSSText</key>
				<string>color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 30px; line-height: 1.1; text-align: -webkit-left; font-weight: bold;</string>
				<key>ID</key>
				<string>1</string>
				<key>MobileCreated</key>
				<false/>
				<key>Name</key>
				<string>Headline</string>
			</dict>
			<dict>
				<key>CSSText</key>
				<string>color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 1.5; text-align: -webkit-left; text-decoration: none;</string>
				<key>ID</key>
				<string>2</string>
				<key>MobileCreated</key>
				<false/>
				<key>Name</key>
				<string>Body</string>
			</dict>
			<dict>
				<key>CSSText</key>
				<string>color: rgb(0, 0, 0); font-family: Arial; font-size: 16px; font-style: normal; font-weight: normal; line-height: 1.5; margin-bottom: 0px; margin-top: 0px; text-align: -webkit-left; text-decoration: none;</string>
				<key>ID</key>
				<string>3</string>
				<key>MobileCreated</key>
				<false/>
				<key>Name</key>
				<string>New Style</string>
			</dict>
		</array>
	</dict>
	<key>EQ Supports Mobile Versions</key>
	<true/>
	<key>EQ Vertical Ruler Guides</key>
	<array/>
	<key>EQ Window Frame</key>
	<string>486 4 1450 1413 0 0 2560 1417 </string>
	<key>Folder Name</key>
	<string>Forgot Password Step 1.eqstationerypro</string>
	<key>HTML File</key>
	<string>content.html</string>
	<key>Images</key>
	<array>
		<string>image-2.png</string>
		<string>image-1.png</string>
	</array>
	<key>Stationery ID</key>
	<string>C056205B-0C5C-4B30-B5A6-3D1AE2C49FEA</string>
	<key>Thumbnail Image</key>
	<string>Thumbnail.jpg</string>
</dict>
</plist>
