/* ------------- Here is where non-htmlburger css goes. ------------------ */

.clear { content: ''; clear: both; }
.inline-block { display: inline-block; }
.error-text { color: #d64561; }
.link { text-decoration: none; }
.red { color: #ce4260; }
.blue { color: #2a9eca; }

.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }

.mt-3 { margin-top: 3px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }

.mb-3 { margin-bottom: 3px !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-20 { margin-bottom: 20px !important; }

.ml-3 { margin-left: 3px !important; }
.ml-5 { margin-left: 5px !important; }
.ml-20 { margin-left: 20px !important; }

/* Widths */
.width-95 { width: 95px !important; }
.width-135 { width: 135px !important; }

/* Google Button */
.btn-google-login { display: flex; justify-content: center; font-size: 16px; height: 50px; border: 1px solid #d0d1d1; background-color: #fff; color: #3e4145; text-transform: unset; width: 100%; margin: 10px 0px; font-size: 18px; }
.btn-google-login:hover { background-color: #f2f2f2; border: 1px solid #D0D2D3; }
.btn-google-login .btn-text { display: inline-block; margin-left: 10px; margin-top: 4px; }

/* Login Break */
.break { text-align: center; z-index: 0; position: relative; }
.break:before { content: ''; position: absolute; top: 50%; left: 0; right: 0; border-bottom: 1px solid #d0d1d1; z-index: -1; }
.break__content { display: inline-block; padding: 0 0.5em; background: #fff; font-size: 17px; font-weight: 300;}


/* A less wide watchlist for smaller monitors  */
@media (min-width: 767px) {
  .section .section__aside { width: 210px; }
  .section .section__content { width: calc(100% - 230px); }
}

/* Make sure the screen is wide enough of don't show (we really do not support mobile) */
@media (min-width: 1450px) {
  .min-width-content-body { min-width: 1250px; }
}

/* Tablet Portrait - Sub NAV */
@media (max-width: 1023px) {
  .nav-centered li + li { margin-left: 56px; }
}

/* Mobile - Sub NAV */
@media (max-width: 767px) {
  .nav-centered { text-align: center; }

  .nav-centered li { display: inline-block; vertical-align: middle; }
  .nav-centered li + li { margin-left: 56px; }
}

/* Settings */
.article--size2 { max-width: 350px; }

/* Updates to sidebar - made sidebar less wide */
.sidebar { width: 195px; }
.content { padding: 125px 0 160px 195px; }
.header-wrapper { left: 195px; width: calc(100vw - 195px); }

/* Layout */
.logo { background-image: url(images/logo-new.png); width: 58px !important; height: 50px !important; }

/* Trade Builder */
.trade-builder .trade-search { display: flex; }
.trade-builder .trade-search .typeahead-cont { width: 100%; }
.trade-builder .trade-search .typeahead-cont .field { width: 98%; }
.trade-builder .table--stocks td:nth-child(n+3) { text-align: left; }
.trade-builder .net-quote { display: flex; font-size: 14px; margin-top: 15px; text-align: center; }

/* Screener */
.screen-preview-first-run { width: 513px; }
.article__head .dropdown { min-width: unset !important; }
.article__head__screener { height: 54px; }
.article__head__screener p { font-weight: 450; font-style: italic; margin-top: 8px; }
.article__head__screener .searching-text { font-weight: 350; }
.widget-screen .and { text-transform: uppercase; font-weight: 700; margin: 16px 0; font-size: 16px; padding: 0 10px; }
.widget__actions .delete-btn { display: inline-block; float: right; margin-top: 20px; color: #ce4260; font-weight: 500; } 

/* Reports */
.article .article__head .article__btn { z-index: 1000 }

/* Settings */
.list-infos h5 { max-width: 175px; }
.list-data h5 { font-weight: 500; }
.form-info .form__col--size1a { max-width: 50%; flex: 0 0 50%; }

/* Hide GooveHq stuff */
iframe.grv-widget-tag { display: none !important; }
iframe.grv-widget-app { display: block !important; }

button:disabled { opacity: .3 }
input[type="submit"]:disabled { opacity: .3 }
.select-only-one:after { content: unset; }