/* ------------- Here is where non-htmlburger css goes. ------------------ */

.clear { content: ''; clear: both; }
.inline-block { display: inline-block; }
.error-text { color: #d64561; }
.link { text-decoration: none; }
.red { color: #ce4260; }
.blue { color: #2a9eca; }
.cursor-pointer { cursor: pointer; }
.text-align-right { text-align: right; }
.text-align-center { text-align: center; }

.font-14 { font-size: 14px; }
.font-16 { font-size: 16px; }

.mt-3 { margin-top: 3px !important; }
.mt-5 { margin-top: 5px !important; }
.mt-10 { margin-top: 10px !important; }
.mt-20 { margin-top: 20px !important; }

.mb-3 { margin-bottom: 3px !important; }
.mb-5 { margin-bottom: 5px !important; }
.mb-10 { margin-bottom: 10px !important; }
.mb-20 { margin-bottom: 20px !important; }

.ml-3 { margin-left: 3px !important; }
.ml-5 { margin-left: 5px !important; }
.ml-10 { margin-left: 10px !important; }
.ml-20 { margin-left: 20px !important; }

.mr-3 { margin-right: 3px !important; }
.mr-5 { margin-right: 5px !important; }
.mr-20 { margin-right: 20px !important; }

/* Icons */
.btn-square.active { background-color: #cfd0d0; }
.btn-square .fa { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

/* Widths */
.width-95 { width: 95px !important; }
.width-135 { width: 135px !important; }
.width-80-percent { width: 80% !important; }

/* Google Button */
.btn-google-login { display: flex; justify-content: center; font-size: 16px; height: 50px; border: 1px solid #d0d1d1; background-color: #fff; color: #3e4145; text-transform: unset; width: 100%; margin: 10px 0px; font-size: 18px; }
.btn-google-login:hover { background-color: #f2f2f2; border: 1px solid #D0D2D3; }
.btn-google-login .btn-text { display: inline-block; margin-left: 10px; margin-top: 4px; }

/* Login Break */
.break { text-align: center; z-index: 0; position: relative; }
.break:before { content: ''; position: absolute; top: 50%; left: 0; right: 0; border-bottom: 1px solid #d0d1d1; z-index: -1; }
.break__content { display: inline-block; padding: 0 0.5em; background: #fff; font-size: 17px; font-weight: 300;}


/* A less wide watchlist for smaller monitors  */
@media (min-width: 767px) {
  .section .section__aside { width: 210px; }
  .section .section__content { width: calc(100% - 230px); }
}

/* Make sure the screen is wide enough of don't show (we really do not support mobile) */
@media (min-width: 1450px) {
  .min-width-content-body { min-width: 1250px; }
}

/* Tablet Portrait - Sub NAV */
@media (max-width: 1023px) {
  .nav-centered li + li { margin-left: 56px; }
}

/* Mobile - Sub NAV */
@media (max-width: 767px) {
  .nav-centered { text-align: center; }

  .nav-centered li { display: inline-block; vertical-align: middle; }
  .nav-centered li + li { margin-left: 56px; }
}

/*  Table Simple Small Size1a  */
.table-simple--small-size1a { overflow: hidden; }
.table-simple--small-size1a ins { display: inline-block; margin: 0; padding: 0; }
.table-simple--small-size1a th:nth-child(1),
.table-simple--small-size1a td:nth-child(1) { width: 100px; }
.table-simple--small-size1a th:nth-child(2),
.table-simple--small-size1a td:nth-child(2) { width: 100px; }

/* Settings */
.article--size2 { max-width: 350px; }

/* Updates to sidebar - made sidebar less wide */
.sidebar { width: 195px; }
.content { padding: 125px 0 160px 195px; }
.header-wrapper { left: 195px; width: calc(100vw - 195px); }

/* Layout */
.logo { background-image: url(images/logo-new.png); width: 58px !important; height: 50px !important; }

/* Trade Builder */
.trade-builder .trade-search { display: flex; }
.trade-builder .trade-search .typeahead-cont { width: 100%; }
.trade-builder .trade-search .typeahead-cont .field { width: 98%; }
.trade-builder .table--stocks td:nth-child(n+3) { text-align: left; }
.trade-builder .net-quote { display: flex; font-size: 14px; margin-top: 15px; text-align: center; }

/* Screener */
.screener-table { padding: 40px 40px; }
.screener-table .btn { color: #fff !important; }
.screener-table { text-align: left; font-size: 14px; }
.screener-table table { table-layout: fixed; }
.screener-table strong { font-weight: 700; }
.screener-table ins { font-size: 14px; display: inline-block; font-style: italic; font-weight: 400; text-decoration: none; color: #3e4145; position: relative; opacity: .6; padding-right: 33px; }
.screener-table ins:after { content: ''; background: #3e4145; width: 61px; width: 100%; height: 1px; position: absolute; bottom: -2px; left: 0; }
.screener-table ins,
.screener-table ins:after { opacity: .6; }
.screener-table p span { color: #c5351b; }
.screener-table a { color: #2a9eca; }
.screener-table td { height: 55px; border-bottom: 1px solid #e6e7e7; }
.screener-table th { text-align: left; }
.screener-table .green { color: #5cb85c; }
.screener-table .red { color: #c5351b; }
.screener-table .darker ins { opacity: .8; }
.screener-table .active  { opacity: 1 }
.screener-table .active td { position: relative; }
.screener-table .active td:first-child:after { content: ''; position: absolute; top: 3px; left: -39px; width: 551px; height: 41px; background: url(images/temp/blue-overlay.png) no-repeat 0 0;  }

.sort-label { margin: auto 0; padding-right: 10px; font-size: 18px; }
.list-actions a { color: inherit; }
.screen-preview-first-run { width: 513px; }
.article__head .dropdown { min-width: unset !important; }
.article__head__screener { height: 54px; }
.article__head__screener p { font-weight: 450; font-style: italic; margin-top: 8px; }
.article__head__screener .searching-text { font-weight: 350; }
.widget-screen .and { text-transform: uppercase; font-weight: 700; margin: 16px 0; font-size: 16px; padding: 0 10px; }
.widget__actions .delete-btn { display: inline-block; float: right; margin-top: 20px; color: #ce4260; font-weight: 500; } 

/* Dialog */
.article__head.flex__head { display: flex; justify-content: space-between; }

/* Reports */
.article .article__head .article__list { right: 52px; top: 55%; }
.field--size-2-plus { width: 170px; }
.table-totals td { border-bottom: unset; border-top: 1px solid #000; }
.article .article__head .article__btn { z-index: 1000 }

/* Settings */
.list-infos h5 { max-width: 175px; }
.list-data h5 { font-weight: 500; }
.form-info .form__col--size1a { max-width: 50%; flex: 0 0 50%; }

/* Hide GooveHq stuff */
iframe.grv-widget-tag { display: none !important; }
iframe.grv-widget-app { display: block !important; }

button:disabled { opacity: .3 }
input[type="submit"]:disabled { opacity: .3 }
.select-only-one:after { content: unset; }


/* -------------------- Centcom ---------------- */
.centcom { width: 1200px; margin: 0 auto; display: block; margin-top: 20px; }
.centcom h1 { font-size: 40px }
.centcom .header-wrap { display: flex; flex-direction: row; justify-content: space-between; }
.centcom ul { list-style: none; display: flex; flex-direction: row; justify-content: flex-start; margin: auto 0; }
.centcom ul li { display: block; margin-right: 20px; }

.centcom .centcom-table { padding: 20px 40px; border: #efefef solid 1px; }
.centcom .centcom-table tr { text-align: left; }

