<div class="tab__flex">
  <div class="tab__inner">
    <div class="search">
      <form (submit)="onSearchSubmit()">
        <div class="dropdown dropdown--search trade-search">
          <app-typeahead-symbols (selected)="onSearchTypeAheadClick($event)" searchTerm="{{ typeAheadSymbol?.ShortName }}" clearAfterSelect="false" class="typeahead-cont"></app-typeahead-symbols>
          <input type="submit" value="Search" class="btn search__btn" />
        </div>
      </form>

    </div>
  </div>




  <div class="tab__inner" *ngIf="symbol">
    <div class="table--stocks">
      <table>

        <tr>
          <td>{{ symbol?.Name }}</td>

          <td></td>

          <td>
            <strong [ngClass]="{'title-red': (quotes[symbol.ShortName]?.change_percentage < 0), 'title-green': (quotes[symbol.ShortName]?.change_percentage > 0)}">{{ quotes[symbol.ShortName]?.change | currency:'USD':'symbol':'1.2-2' }}</strong>
          </td>

          <td>
            <strong [ngClass]="{'title-red': (quotes[symbol.ShortName]?.change_percentage < 0), 'title-green': (quotes[symbol.ShortName]?.change_percentage > 0)}">({{ quotes[symbol.ShortName]?.change_percentage | number:'1.2-2' }}%)</strong>
          </td>
        </tr>

        <tr>
          <td>{{ symbol?.ShortName }}</td>

          <td>
            BID <strong>{{ quotes[symbol.ShortName]?.bid | currency:'USD':'symbol':'1.2-2' }}</strong>
          </td>

          <td>
            ASK <strong>{{ quotes[symbol.ShortName]?.ask | currency:'USD':'symbol':'1.2-2' }}</strong>
          </td>
        </tr>

      </table>
    </div><!-- /.table-stocks -->
  </div><!-- /.tab__inner -->
</div><!-- /.tab__flex -->







<div class="form form--search">
  <form>
    <div class="form__body">


      <div class="form__row" *ngIf="symbolExpire">
        <div class="form__col form__col--size1">
          <label for="field-expire" class="hidden">Expirations</label>

          <div class="form__controls">
            <div class="select">
              <select name="Expire" id="field-expire" [(ngModel)]="symbolExpire" (change)="onExpireChange()">
                <option value="{{ row }}" *ngFor="let row of symbolExpirations;">{{ row | date:'shortDate' }}</option>
              </select>
            </div>
          </div>

        </div>

        <div class="form__col width-95">
          <label for="field-strike" class="hidden">Strike</label>

          <div class="form__controls">
            <div class="select">
              <select name="Strike" id="field-strike" [(ngModel)]="symbolStrike" (change)="onStrikeChange()">
                <option value="{{ row }}" *ngFor="let row of symbolStrikes">{{ row }}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="form__col form__col--size2">
          <label for="field-type" class="hidden">Call</label>

          <div class="form__controls">
            <div class="select">
              <select name="Type" id="field-type" [(ngModel)]="symbolType" (change)="onTypeChange()">
                <option value="Call">Call</option>
                <option value="Put">Put</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form__col width-135">&nbsp;</div>
        <div class="form__col form__col--size2">&nbsp;</div>
        <div class="form__col form__col--size7">&nbsp;</div>

        <div class="form__col form__col--clear form__col--size5" *ngIf="option">

          <div class="table-rows">
            <table>
              <tr>
                <td>{{ option.Name }}</td>

                <td>
                  <strong>{{ quotes[option.ShortName]?.last | currency:'USD':'symbol':'1.2-2' }}</strong>
                </td>

                <td>
                  <strong [ngClass]="{'title-red': (quotes[option.ShortName]?.change_percentage < 0), 'title-green': (quotes[option.ShortName]?.change_percentage > 0)}">
                    ({{ quotes[option.ShortName]?.change_percentage | number:'1.2-2' }}%)
                  </strong>
                </td>
              </tr>

              <tr>
                <td>
                  BID <strong>{{ quotes[option.ShortName]?.bid | currency:'USD':'symbol':'1.2-2' }}</strong>
                </td>

                <td colspan="3">
                  ASK <strong>{{ quotes[option.ShortName]?.ask | currency:'USD':'symbol':'1.2-2' }}</strong>
                </td>
              </tr>
            </table>

          </div>


        </div>


      </div>




      <div class="form__row" *ngIf="symbolExpire && symbolStrike">

        <div class="form__col form__col--size1">
          <label for="field-search-side" class="hidden">Side</label>

          <div class="form__controls">
            <div class="select">
              <select name="Side" id="field-side" [(ngModel)]="tradeDetails.Side">
                <option value="buy_to_open">Buy to Open</option>
                <option value="buy_to_close">Buy to Close</option>
                <option value="sell_to_open">Sell to Open</option>
                <option value="sell_to_close">Sell to Close</option>
              </select>
            </div>
          </div>

        </div>


        <div class="form__col form__col--size2">
          <label for="field-search-quantity" class="hidden">Quantity</label>

          <div class="form__controls">
            <input type="text" class="field" name="Qty" id="field-search-quantity" placeholder="Quantity" [(ngModel)]="tradeDetails.Qty" />
          </div>
        </div>


        <div class="form__col form__col--size1">
          <label for="field-search-order-type" class="hidden">Order Type</label>

          <div class="form__controls">
            <div class="select">
              <select name="OrderType" id="field-search-order-type" [(ngModel)]="tradeDetails.OrderType">
                <option value="market">Market</option>                
                <option value="limit">Limit</option>                
                <option value="stop">Stop</option>
                <option value="stop_limit">Stop Limit</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form__col form__col--size2" *ngIf="(tradeDetails.OrderType == 'stop') || (tradeDetails.OrderType == 'stop_limit')">
          <label for="field-search-limit" class="hidden">Stop</label>

          <div class="form__controls">
            <input type="text" class="field" name="Stop" id="field-search-limit" placeholder="Stop" [(ngModel)]="tradeDetails.Stop" />
          </div>
        </div> 

        <div class="form__col form__col--size2" *ngIf="(tradeDetails.OrderType == 'limit') || (tradeDetails.OrderType == 'stop_limit')">
          <label for="field-search-limit" class="hidden">Limit</label>

          <div class="form__controls">
            <input type="text" class="field" name="Price" id="field-search-limit" placeholder="Limit" [(ngModel)]="tradeDetails.Price" />
          </div>
        </div>        

        

        <div class="form__col form__col--size3">
          <label for="field-search-period" class="hidden">Day</label>

          <div class="form__controls">
            <div class="select">
              <select name="Duration" id="field-search-period" [(ngModel)]="tradeDetails.Duration">
                <option value="day">Today</option>
                <option value="gtc">GTC</option>                               
              </select>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form__actions--flex">
      <div class="table-preview form__aside" *ngIf="orderPreview && symbolExpire && symbolStrike">

        <div class="banner banner--medium banner--error" *ngIf="orderPreview.Error">
          <h6 class="banner__title">
            <strong>{{ orderPreview.Error }}</strong>
          </h6>
        </div> 


        <table *ngIf="! orderPreview.Error">
          <tr>
            <th>Trade Preview</th>

            <td>
              <p>
                COMMISSION <br />

                <strong>{{ orderPreview.Commission | currency:'USD':'symbol':'1.2-2' }}</strong>
              </p>
            </td>

            <td *ngIf="orderPreview.OrderCost < 0">
              <p>
                ORDER PROCEEDS <br />

                <strong>{{ (orderPreview.OrderCost * -1) | currency:'USD':'symbol':'1.2-2' }}</strong>
              </p>
            </td>

            <td *ngIf="orderPreview.OrderCost > 0">
              <p>
                ORDER COST <br />

                <strong>{{ orderPreview.OrderCost | currency:'USD':'symbol':'1.2-2' }}</strong>
              </p>
            </td>

            <td>
              <p>
                EST. TOTAL COST <br />

                <strong>{{ orderPreview.Cost | currency:'USD':'symbol':'1.2-2' }}</strong>
              </p>
            </td>
          </tr>
        </table>
      </div>


      <div class="form__actions__inner" *ngIf="orderPreview && symbolExpire && symbolStrike">
        <input type="reset" value="Reset" class="link-action" (click)="restTrade()" />
        <input type="submit" value="Preview" class="btn form__btn" (click)="previewTrade()" />
        <input type="submit" value="Submit" class="btn btn--pink form__btn" *ngIf="! orderPreview.Error" (click)="submitTrade()" />
      </div>

      <div class="form__actions__inner" *ngIf="(! orderPreview) && symbolExpire && symbolStrike">
        <input type="reset" value="Reset" class="link-action" (click)="restTrade()" />
        <input type="submit" value="Preview" class="btn form__btn" (click)="previewTrade()" />
      </div>

    </div>
  </form>
</div>