<div class="box__head box__head--relative box__head--small">
  <div class="box__flex">
    <input type="text" value="AMZN" class="field field--small" />

    <h5 class="box__title">Amazon.com Inc</h5><!-- /.box__title -->

    <strong class="title-green">$436.42 (9.87%)</strong>
  </div>

  <div class="box__absolute select">
    <select name="field-period" id="field-period">
      <option value="period-1">Today (1 min)</option>

      <option value="period-2">Today (30 min)</option>

      <option value="period-3">Today (1 hour)</option>
    </select>
  </div>
</div>

<div class="box__body">
  <figure class="box__image">

<highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  [(update)]="chartUpdateFlag"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>


  </figure>
</div>