<div class="box__head box__head--relative">
  <h5 class="box__title">Orders</h5>
</div>


<div class="box__body" *ngIf="! orders?.length">
  <div class="box__inner box__inner--empty">
    <h4>No orders.</h4>

    <h4>Let's get to work?</h4>
  </div>
</div>


<div class="box__body" *ngIf="orders?.length">
  
  <div class="box__inner">
    
    <div class="table table--large table--bordered">
      <div class="table__inner">
        <table>
          <tr>
            <td>
              <ins>Symbols</ins>
            </td>     

            <td>
              <ins>Side</ins>
            </td> 

            <td>
              <ins>Last</ins>
            </td>     

            <td>
              <ins>Quantity</ins>
            </td>     

            <td>
              <ins>Duration</ins>
            </td>     

            <td>
              <ins>Type</ins>
            </td>     

            <td>
              <ins>Price</ins>
            </td>     

            <td>
              <ins>Filled</ins>
            </td>     

            <td>
              <ins>Status</ins>
            </td>
          </tr>

          <ng-container *ngFor="let row of orders; let k = index">

            <!-- Equity Order -->
            <tr *ngIf="row.Class == 'equity'" [ngClass]="{ 'table__row--bordered': (k != 0) }">
              <td><strong>{{ quotes[row.Symbol]?.description }}</strong></td>  

              <!-- Side -->
              <td *ngIf="row.Side == 'buy'">Buy</td> 
              <td *ngIf="row.Side == 'sell'">Sell</td> 
              <td *ngIf="row.Side == 'sell_short'">Sell Short</td>                           
              <td *ngIf="row.Side == 'buy_to_cover'">Buy To Cover</td> 
            
              <!-- Last -->  
              <td>{{ quotes[row.Symbol]?.last | currency:'USD':'symbol':'1.2-2' }}</td> 

              <!-- Quantity -->
              <td *ngIf="row.Side == 'buy'">{{ row.Quantity }}</td> 
              <td *ngIf="row.Side == 'sell_short'">{{ row.Quantity * -1 }}</td>             

              <!-- Duration --> 
              <td>{{ row.Duration }}</td> 
            
              <!-- Type --> 
              <td>{{ row.Type }}</td> 
  
              <!-- Price -->            
              <td *ngIf="row.Type == 'stop_limit'">{{ row.Price | currency:'USD':'symbol':'1.2-2' }}</td>
              <td *ngIf="row.Type == 'stop'">{{ row.StopPrice | currency:'USD':'symbol':'1.2-2' }}</td>
              <td *ngIf="row.Type == 'limit'">{{ row.Price | currency:'USD':'symbol':'1.2-2' }}</td> 
              <td *ngIf="row.Type == 'market'">---</td>              
            
              <!-- Filled -->
              <td *ngIf="row.Status == 'filled'">{{ row.AvgFillPrice | currency:'USD':'symbol':'1.2-2' }}</td>
              <td *ngIf="row.Status == 'open'">---</td>
              <td *ngIf="row.Status == 'canceled'">---</td>
              <td *ngIf="row.Status == 'expired'">---</td>
              <td *ngIf="row.Status == 'rejected'">---</td>
              <td *ngIf="row.Status == 'pending'">---</td> 
              <td *ngIf="row.Status == 'partially_filled'">---</td>        
            
              <!-- Status -->
              <td *ngIf="row.Status == 'filled'" class="title-green">{{ row.Status }}</td>
              <td *ngIf="row.Status == 'open'" class="title-grey">{{ row.Status }}</td>
              <td *ngIf="row.Status == 'canceled'" class="title-grey">{{ row.Status }}</td>
              <td *ngIf="row.Status == 'expired'" class="title-grey">{{ row.Status }}</td>
              <td *ngIf="row.Status == 'rejected'" class="title-red">{{ row.Status }}</td>
              <td *ngIf="row.Status == 'pending'" class="title-grey">{{ row.Status }}</td> 
              <td *ngIf="row.Status == 'partially_filled'" class="title-grey">{{ row.Status }}</td>

              <td rowspan="1">
                <div class="dropdown select">
                  <div class="dropdown__head dropdown--trigger"></div>

                  <div class="dropdown__body">
                    <ul class="list-actions">
                      <li>
                        <a href="#">Position Details</a>
                      </li>

                    <li>
                        <a href="#">Close Trade @ $0.03</a>
                      </li>

                    <li>
                        <a href="#">Close Trade @ Market</a>
                      </li>

                    <li>
                        <a href="#">Close Trade @ Limit</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>

            </tr>



            <!-- Option Order -->
            <tr *ngIf="row.Class == 'option'" [ngClass]="{ 'table__row--bordered': (k != 0) }">
              <td><strong>{{ quotes[row.OptionSymbol]?.description }}</strong></td>  
            
              <td>{{ quotes[row.OptionSymbol]?.last | currency:'USD':'symbol':'1.2-2' }}</td> 
            
              <td>{{ row.Quantity }}</td> 
            
              <td>{{ row.Duration }}</td> 
            
              <td>{{ row.Type }}</td> 
            
              <td>
                <span [hidden]="row.Type != 'debit'">{{ row.Price | currency:'USD':'symbol':'1.2-2' }}</span>
                <span [hidden]="row.Type != 'credit'">{{ row.Price | currency:'USD':'symbol':'1.2-2' }}</span>
                <span [hidden]="row.Type != 'stop'">{{ row.StopPrice | currency:'USD':'symbol':'1.2-2' }}</span>
                <span [hidden]="row.Type != 'limit'">{{ row.Price | currency:'USD':'symbol':'1.2-2' }}</span> 
                <span [hidden]="row.Type != 'market'">---</span>     					
              </td> 
            
              <td>
                <span [hidden]="row.Status != 'filled'">{{ row.AvgFillPrice | currency:'USD':'symbol':'1.2-2' }}</span>
                <span [hidden]="row.Status != 'open'">---</span>
                <span [hidden]="row.Status != 'canceled'">---</span>
                <span [hidden]="row.Status != 'expired'">---</span>
                <span [hidden]="row.Status != 'rejected'">---</span>
                <span [hidden]="row.Status != 'pending'">---</span> 
                <span [hidden]="row.Status != 'partially_filled'">---</span>
              </td>         
            
              <td>
                <span [hidden]="row.Status != 'filled'"><strong class="title-green">{{ row.Status }}</strong></span>
                <span [hidden]="row.Status != 'open'"><strong class="title-grey">{{ row.Status }}</strong></span>
                <span [hidden]="row.Status != 'canceled'"><strong class="title-grey">{{ row.Status }}</strong></span>
                <span [hidden]="row.Status != 'expired'"><strong class="title-grey">{{ row.Status }}</strong></span>
                <span [hidden]="row.Status != 'rejected'"><strong class="title-red">{{ row.Status }}</strong></span>
                <span [hidden]="row.Status != 'pending'"><strong class="title-grey">{{ row.Status }}</strong></span> 
                <span [hidden]="row.Status != 'partially_filled'"><strong class="title-grey">{{ row.Status }}</strong></span>
              </td>

              <td rowspan="1">
                <div class="dropdown select">
                  <div class="dropdown__head dropdown--trigger"></div>

                  <div class="dropdown__body">
                    <ul class="list-actions">
                      <li>
                        <a href="#">Position Details</a>
                      </li>

                    <li>
                        <a href="#">Close Trade @ $0.03</a>
                      </li>

                    <li>
                        <a href="#">Close Trade @ Market</a>
                      </li>

                    <li>
                        <a href="#">Close Trade @ Limit</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>

            </tr> 
  


            <!-- Multi Leg Order -->
            <ng-container *ngIf="row.Class == 'multileg'">
              <tr *ngFor="let row2 of row.Legs; let i = index" [ngClass]="{ 'table__row--bordered': (k != 0) && (i == 0) }">
                <td><strong>{{ quotes[row2.OptionSymbol]?.description }}</strong></td>
              
                <td>{{ quotes[row2.OptionSymbol]?.last | currency:'USD':'symbol':'1.2-2' }}</td>
              
                <td>{{ row2.Quantity }}</td>
              
                <td *ngIf="i == 0">{{ row.Duration }}</td>
                <td *ngIf="i > 0">&nbsp;</td>
              
                <td *ngIf="i == 0">{{ row.Type }}</td>
                <td *ngIf="i > 0">&nbsp;</td>
              
                <td *ngIf="i == 0">
                  <span [hidden]="row2.Type != 'debit'">{{ row.Price | currency:'USD':'symbol':'1.2-2' }}</span>
                  <span [hidden]="row2.Type != 'credit'">{{ row.Price | currency:'USD':'symbol':'1.2-2' }}</span>
                  <span [hidden]="row2.Type != 'stop'">{{ row.StopPrice | currency:'USD':'symbol':'1.2-2' }}</span>
                  <span [hidden]="row2.Type != 'limit'">{{ row.Price | currency:'USD':'symbol':'1.2-2' }}</span> 
                  <span [hidden]="row2.Type != 'market'">---</span>     					
                </td>
                <td *ngIf="i > 0">&nbsp;</td>
              
                <td *ngIf="i == 0">
                  <span [hidden]="row2.Status != 'filled'">{{ row.AvgFillPrice | currency:'USD':'symbol':'1.2-2' }}</span>
                  <span [hidden]="row2.Status != 'open'">---</span>
                  <span [hidden]="row2.Status != 'canceled'">---</span>
                  <span [hidden]="row2.Status != 'expired'">---</span>
                  <span [hidden]="row2.Status != 'rejected'">---</span>
                  <span [hidden]="row2.Status != 'pending'">---</span> 
                  <span [hidden]="row2.Status != 'partially_filled'">---</span>
                </td>        
                <td *ngIf="i > 0">&nbsp;</td>
              
                <td *ngIf="i == 0">
                  <span [hidden]="row.Status != 'filled'"><strong class="title-green">{{ row.Status }}</strong></span>
                  <span [hidden]="row.Status != 'open'"><strong class="title-grey">{{ row.Status }}</strong></span>
                  <span [hidden]="row.Status != 'canceled'"><strong class="title-grey">{{ row.Status }}</strong></span>
                  <span [hidden]="row.Status != 'expired'"><strong class="title-grey">{{ row.Status }}</strong></span>
                  <span [hidden]="row.Status != 'rejected'"><strong class="title-red">{{ row.Status }}</strong></span>
                  <span [hidden]="row.Status != 'pending'"><strong class="title-grey">{{ row.Status }}</strong></span> 
                  <span [hidden]="row.Status != 'partially_filled'"><strong class="title-grey">{{ row.Status }}</strong></span>
                </td>
                <td *ngIf="i > 0">&nbsp;</td>

                <td rowspan="2" *ngIf="i == 0">

                  <app-dropdown-select [actions]="actions" [data]="row"></app-dropdown-select>

                </td>

              </tr>

            </ng-container>

          </ng-container>


        </table>
      </div>  

    </div><!-- /.table table-large -->

  </div>

</div>