<div class="table table--large">
  <div class="table__inner">
  	<table>
  		<tr>
  			<td>
  				<ins>Symbols</ins>
  			</td>

  			<td>
  				<ins>Last</ins>
  			</td>

  			<td>
  				<ins>Quantity</ins>
  			</td>

  			<td>
  				<ins>Type</ins>
  			</td>

  			<td>
  				<ins>Type</ins>
  			</td>

  			<td>
  				<ins>Price</ins>
  			</td>

  			<td>
  				<ins>Filled</ins>
  			</td>

  			<td>
  				<ins>Status</ins>
  			</td>
  		</tr>

  		<tr *ngFor="let row of order.Legs; let i = index">
  			<td>{{ quotes[row.OptionSymbol]?.description }}</td>

  			<td>{{ quotes[row.OptionSymbol]?.last | currency:'USD':true:'1.2-2' }}</td>

  			<td>{{ row.Quantity }}</td>

  			<td *ngIf="i == 0">{{ order.Duration }}</td>
  			<td *ngIf="i > 0">&nbsp;</td>

  			<td *ngIf="i == 0">{{ order.Type }}</td>
  			<td *ngIf="i > 0">&nbsp;</td>

  			<td *ngIf="i == 0">
          <span [hidden]="row.Type != 'debit'">{{ order.Price | currency:'USD':true:'1.2-2' }}</span>
          <span [hidden]="row.Type != 'credit'">{{ order.Price | currency:'USD':true:'1.2-2' }}</span>
          <span [hidden]="row.Type != 'stop'">{{ order.StopPrice | currency:'USD':true:'1.2-2' }}</span>
          <span [hidden]="row.Type != 'limit'">{{ order.Price | currency:'USD':true:'1.2-2' }}</span> 
          <span [hidden]="row.Type != 'market'">---</span>     					
  			</td>
  			<td *ngIf="i > 0">&nbsp;</td>

        <td *ngIf="i == 0">
          <span [hidden]="row.Status != 'filled'">{{ order.AvgFillPrice | currency:'USD':true:'1.2-2' }}</span>
          <span [hidden]="row.Status != 'open'">---</span>
          <span [hidden]="row.Status != 'canceled'">---</span>
          <span [hidden]="row.Status != 'expired'">---</span>
          <span [hidden]="row.Status != 'rejected'">---</span>
          <span [hidden]="row.Status != 'pending'">---</span> 
          <span [hidden]="row.Status != 'partially_filled'">---</span>
        </td>        
        <td *ngIf="i > 0">&nbsp;</td>

  			<td *ngIf="i == 0"><strong class="title-green" >{{ order.Status }}</strong></td>
  			<td *ngIf="i > 0">&nbsp;</td>
  		</tr>

  	</table>
  </div><!-- /.table__inner -->

  <div class="dropdown select">
  	<div class="dropdown__head dropdown--trigger"></div><!-- /.dropdown__head dropdown-trigger -->

  	<div class="dropdown__body">
  		<ul class="list-actions">
  			<li>
  				<a href="#">Position Details</a>
  			</li>

  			<li>
  				<a href="#">Close Trade @ $0.03</a>
  			</li>

  			<li>
  				<a href="#">Close Trade @ Market</a>
  			</li>

  			<li>
  				<a href="#">Close Trade @ Limit</a>
  			</li>
  		</ul><!-- /.list-actions -->
  	</div><!-- /.dropdown__body -->
  </div><!-- /.dropdown select -->
</div><!-- /.table table-large -->