<header class="header">
  <nav class="nav">
  	<ul>
  		<li class="current">
  			<a routerLink="/">Trading</a>
  		</li><!-- /.current -->

  		<li>
  			<a routerLink="/backtest">Backtest</a>
  		</li>

  		<li>
  			<a routerLink="/reports">Reports</a>
  		</li>
  	</ul>
  </nav><!-- /.nav -->

  <nav class="nav-utilities">
  	<ul>
  		<li>
  			<a href="#">Help</a>
  		</li>

  		<li>
  			<a href="#">Settings</a>
  		</li>
  	</ul>
  </nav><!-- /.nav-utilities -->
</header><!-- /.header -->