<div class="box__head box__head--relative">
  <h5 class="box__title">{{ title }}</h5>
</div>

<div class="box__body box__body--small">
  <div class="box__inner">
    <div class="table table--large table--medium">
      <div class="table__inner">
        <table>
          <tr>
            <td>
              <ins>Symbol</ins>
            </td>

            <td>
              <ins>Quantity</ins>
            </td>

            <td>
              <ins>Cost Basis</ins>
            </td>

            <td>
              <ins>Ave Price</ins>
            </td>

            <td>
              <ins>Current Price</ins>
            </td>

            <td>
              <ins>Daily Change (%)</ins>
            </td>

            <td>
              <ins>Daily G/L</ins>
            </td>

            <td>
              <ins>Total G/L (%)</ins>
            </td>

            <td>
              <ins>Market Value</ins>
            </td>            
          </tr>

          <tr *ngFor="let row of tradeGroups; let key = index;">
            <td style="max-width: 100px;">
              <strong>{{ row.Positions[0].Symbol.ShortName }}</strong> 

              <br />
              <small>{{ row.Positions[0].Symbol.Name }}</small>
            </td>

            <td>
              <strong>{{ row.Positions[0].Qty }}</strong>
            </td>

            <td>
              <strong>{{ row.Positions[0].CostBasis | currency:'USD':'symbol':'1.2-2' }}</strong>
            </td>

            <td>
              <strong>{{ getAvgPricePaid(row.Positions[0]) | currency:'USD':'symbol':'1.2-2' }}</strong>
            </td>

            <td>
              <strong>{{ quotes[row.Positions[0].Symbol.ShortName]?.last | currency:'USD':'symbol':'1.2-2' }}</strong>
            </td>

            <td>
              <strong [ngClass]="{'title-red': (quotes[row.Positions[0].Symbol.ShortName]?.change < 0), 'title-green': (quotes[row.Positions[0].Symbol.ShortName]?.change > 0)}">
                {{ quotes[row.Positions[0].Symbol.ShortName]?.change | currency:'USD':'symbol':'1.2-2' }} 
                ({{ quotes[row.Positions[0].Symbol.ShortName]?.change_percentage | number:'1.2-2' }}%)
              </strong>
            </td>

            <td>
              <strong [ngClass]="{'title-red': (quotes[row.Positions[0].Symbol.ShortName]?.change < 0), 'title-green': (quotes[row.Positions[0].Symbol.ShortName]?.change > 0)}">
                {{ getDailyGain(row.Positions[0]) | currency:'USD':'symbol':'1.2-2' }} 
              </strong>
            </td>

            <td>
              <strong [ngClass]="{'title-red': (((quotes[row.Positions[0].Symbol.ShortName]?.last * row.Positions[0].Qty) - row.Positions[0].CostBasis) < 0), 'title-green': (((quotes[row.Positions[0].Symbol.ShortName]?.last * row.Positions[0].Qty) - row.Positions[0].CostBasis) > 0)}">
                {{ getTotalGainOfPos(row.Positions[0]) | currency:'USD':'symbol':'1.2-2' }}
                ({{ ((((quotes[row.Positions[0].Symbol.ShortName]?.last * row.Positions[0].Qty) - row.Positions[0].CostBasis)) / row.Positions[0].CostBasis) * 100 | number:'1.2-2' }}%)
              </strong>
            </td>

            <td>
              <strong>
                {{ getMarketValue(row.Positions[0]) | currency:'USD':'symbol':'1.2-2' }} 
              </strong>
            </td>            

            <td>
              <app-dropdown-select [actions]="actions" [data]="row"></app-dropdown-select>
            </td>
          </tr>

        
          <tr>
            <td>
              <small>Totals</small>
            </td>

            <td></td>

            <td>
              <strong>{{ getTotalCostBasis() | currency:'USD':'symbol':'1.2-2' }}</strong>
            </td>

            <td></td>

            <td></td>

            <td></td>

            <td>
              <strong [ngClass]="{'title-red': (getTotalDailyGain() < 0), 'title-green': (getTotalDailyGain() > 0)}">
                {{ getTotalDailyGain() | currency:'USD':'symbol':'1.2-2' }}
              </strong>
            </td>

            <td>
              <strong [ngClass]="{'title-red': (getTotalGains() < 0), 'title-green': (getTotalGains() > 0)}">
                {{ getTotalGains() | currency:'USD':'symbol':'1.2-2' }} ({{ getTotalPercentGain() | number:'1.2-2' }}%)
              </strong>
            </td>

            <td>
              <strong>{{ getTotalMarketValue() | currency:'USD':'symbol':'1.2-2' }}</strong>
            </td>            
          </tr>
        </table>
      </div><!-- /.table__inner -->
    </div><!-- /.table table-large table-medium -->
  </div><!-- /.box__inner -->
</div><!-- /.box__body box__body--small -->