<app-trading-sub-nav></app-trading-sub-nav>

<app-trade></app-trade>


<div class="content__inner">
  <div class="shell shell--fluid">

    <div class="article" *ngIf="screeners && (screeners.length <= 0)">
      No Screener

<!--       <div class="article__body article__body--septenary" >
        <div class="article__contnet-def">
          <h4>No results. </h4>
          <h4>Try adjusting the screener filters.</h4>
        </div>
      </div> -->
    </div>


    <div class="article"  *ngFor="let row of screeners;">
      <div class="article__head">
        <h5>{{ row.Name }}</h5>

        <div class="article__head-aside">
          <div class="select select--primary">
            <select name="select-1">
              <option value="option-1" selected>SPREAD</option>

              <option value="option-2">Spread</option>
            </select>
          </div>

          <a href="#" class="btn-square">
            <i class="ico-settings"></i>
          </a>
        </div><!-- /.article__head-aside -->
      </div><!-- /.article__head -->



      <div class="article__body article__body--size2">
        <div class="features features--small" *ngIf="row.Results && (row.Results.length > 0)">
          
          <div class="feature feature--small" *ngFor="let row2 of row.Results;">
            <div class="feature__inner">
              <div class="feature__head">
                <h6>{{ row.Symbol }}</h6>

                <!-- <i class="ico-check-circle feature__ico"></i> -->
              </div>

              <div class="feature__body">
                <div class="table-simple table-simple--small">
                  <table>
                    <thead>
                      <tr>
                        <th>
                          <ins>Expire</ins>
                        </th>

                        <th>
                          <ins>Spread</ins>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>{{ getExpire(row2) | date:'shortDate' }}</td>
                        
                        <td>{{ getSpread(row2) }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.table -->

                <div class="table-simple table-simple--small table-simple--small-size1">
                  <table>
                    <thead>
                      <tr>
                        <th>
                          <ins>% Away</ins>
                        </th>

                        <th>
                          <ins>Credit</ins>
                        </th>

                        <th>
                          <ins>Midpoint</ins>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>{{ row2.PrecentAway | number:'1.2-2' }}%</td>
                        
                        <td>{{ row2.Credit | currency:'USD':'symbol':'1.2-2' }}</td>
                        <td>{{ row2.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div><!-- /.table -->
              </div><!-- /.feature__body -->

              <div class="feature__actions">
                <a class="btn btn--size4" (click)="trade(row, row2)">Place Trade</a>
                <!-- <a href="#" class="btn btn--border-blue">View Your Position</a> -->
              </div><!-- /.feature__actions -->
            </div><!-- /.feature__inner -->
          </div><!-- /.feature feature-/-small -->
        </div>




    </div><!-- /.article -->

    
  </div>
</div>