<app-layout-sub-nav></app-layout-sub-nav>

<app-trade></app-trade>


<div class="content__inner">
  <div class="shell shell--fluid">

    <div class="article" *ngIf="screeners && (screeners.length <= 0)">
      No Screener

<!--       <div class="article__body article__body--septenary" >
        <div class="article__contnet-def">
          <h4>No results. </h4>
          <h4>Try adjusting the screener filters.</h4>
        </div>
      </div> -->
    </div>


    <div class="article"  *ngFor="let row of screeners;">
      <div class="article__head">

        <h5>
          <a class="link" (click)="viewToggle(row)" [ngClass]="{ 'active': (row.View == 'grid') }">
            <fa-icon [icon]="faCaretDown" class="fa fa-lg" *ngIf="row.Expanded"></fa-icon>
            <fa-icon [icon]="faCaretRight" class="fa fa-lg" *ngIf="(! row.Expanded)"></fa-icon>            
          </a>

          {{ row.Name }}
        </h5>

        <div class="article__head-aside">

          <a (click)="viewChange(row, 'grid')" class="btn-square text-align-center ml-10" [ngClass]="{ 'active': (row.View == 'grid') }">
            <fa-icon [icon]="listGrid" class="fa fa-lg"></fa-icon>
          </a>

          <a (click)="viewChange(row, 'list')" class="btn-square text-align-center ml-10" [ngClass]="{ 'active': (row.View == 'list') }">
            <fa-icon [icon]="listIcon" class="fa fa-lg"></fa-icon>
          </a>

<!--           <div class="select select--primary">
            <select name="view" [(ngModel)]="row.View">
              <option value="grid">Grid</option>
              <option value="table">Table</option>
            </select>
          </div> -->


<!--           <label class="sort-label">Sort: </label>
          <div class="select select--primary">
            <select name="select-1">
              <option value="expire">Expire</option>
              <option value="strike">Short Strike</option>
            </select>
          </div> -->

          <a routerLink="/screener/edit/{{ row.Id }}" class="btn-square ml-10">
            <i class="ico-settings"></i>
          </a>
        </div>
      </div>



      <!-- List View -->
      <div class="screener-table hidden" *ngIf="row.View == 'list'" [ngClass]="{ 'hidden': (! row.Expanded) }">

        <!-- Put Credit Spread - List -->
        <ng-container *ngIf="row.Strategy == 'put-credit-spread'">

          <table>
            <thead>
              <tr>
                <th><ins>Symbol</ins></th>
                <th><ins>Expire</ins></th>
                <th><ins>Spread</ins></th>
                <th (click)="sortClick(row, 'PutPrecentAway')" class="cursor-pointer"><ins>Put % Away</ins></th>
                <th (click)="sortClick(row, 'Credit')" class="cursor-pointer"><ins>Credit</ins></th>
                <th (click)="sortClick(row, 'Midpoint')" class="cursor-pointer"><ins>Midpoint</ins></th>
                <th>&nbsp;</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row2 of row.Results | tableSort:row.ListSort:row.ListOrder">
                <td>{{ row2.Legs[0].OptionUnderlying }}</td>
                <td>{{ row2.Legs[0].OptionExpire | date:'shortDate' }}</td>
                <td>{{ row2.Legs[0].OptionStrike }} / {{ row2.Legs[1].OptionStrike }}</td>                    
                <td>{{ row2.PutPrecentAway | number:'1.2-2' }}%</td>
                <td>{{ row2.Credit | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row2.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                <td class="text-align-right"><a class="btn" (click)="trade(row, row2)">Trade</a></td>
              </tr>
            </tbody>
          </table>

        </ng-container>




        <!-- Iron Condor - List -->
        <ng-container *ngIf="row.Strategy == 'iron-condor'">

          <table>
            <thead>
              <tr>
                <th><ins>Symbol</ins></th>
                <th><ins>Expire</ins></th>
                <th><ins>Condor</ins></th>
                <th (click)="sortClick(row, 'PutPrecentAway')" class="cursor-pointer"><ins>Put % Away</ins></th>
                <th (click)="sortClick(row, 'CallPrecentAway')" class="cursor-pointer"><ins>Call % Away</ins></th>
                <th (click)="sortClick(row, 'Credit')" class="cursor-pointer"><ins>Credit</ins></th>
                <th (click)="sortClick(row, 'Midpoint')" class="cursor-pointer"><ins>Midpoint</ins></th>
                <th>&nbsp;</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row2 of row.Results | tableSort:row.ListSort:row.ListOrder">
                <td>{{ row2.Legs[0].OptionUnderlying }}</td>
                <td>{{ row2.Legs[0].OptionExpire | date:'shortDate' }}</td>
                <td>
                  {{ row2.Legs[0].OptionStrike }} / {{ row2.Legs[1].OptionStrike }} <br />
                  {{ row2.Legs[2].OptionStrike }} / {{ row2.Legs[3].OptionStrike }}
                </td>                    
                <td>{{ row2.PutPrecentAway | number:'1.2-2' }}%</td>
                <td>{{ row2.CallPrecentAway | number:'1.2-2' }}%</td>
                <td>{{ row2.Credit | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row2.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                <td class="text-align-right"><a class="btn" (click)="trade(row, row2)">Trade</a></td>
              </tr>
            </tbody>
          </table>

        </ng-container>




        <!-- Reverse Iron Condor - List -->
        <ng-container *ngIf="row.Strategy == 'reverse-iron-condor'">

          <table>
            <thead>
              <tr>
                <th><ins>Symbol</ins></th>
                <th><ins>Expire</ins></th>
                <th><ins>Condor</ins></th>
                <th (click)="sortClick(row, 'PutPrecentAway')" class="cursor-pointer"><ins>Put % Away</ins></th>
                <th (click)="sortClick(row, 'CallPrecentAway')" class="cursor-pointer"><ins>Call % Away</ins></th>
                <th (click)="sortClick(row, 'Debit')" class="cursor-pointer"><ins>Debit</ins></th>
                <th (click)="sortClick(row, 'Midpoint')" class="cursor-pointer"><ins>Midpoint</ins></th>
                <th>&nbsp;</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row2 of row.Results | tableSort:row.ListSort:row.ListOrder">
                <td>{{ row2.Legs[0].OptionUnderlying }}</td>
                <td>{{ row2.Legs[0].OptionExpire | date:'shortDate' }}</td>
                <td>
                  {{ row2.Legs[0].OptionStrike }} / {{ row2.Legs[1].OptionStrike }} <br />
                  {{ row2.Legs[2].OptionStrike }} / {{ row2.Legs[3].OptionStrike }}
                </td>                    
                <td>{{ row2.PutPrecentAway | number:'1.2-2' }}%</td>
                <td>{{ row2.CallPrecentAway | number:'1.2-2' }}%</td>
                <td>{{ row2.Debit | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{ row2.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                <td class="text-align-right"><a class="btn" (click)="trade(row, row2)">Trade</a></td>
              </tr>
            </tbody>
          </table>

        </ng-container>


      </div>












      <!-- Grid View -->
      <div class="article__body article__body--size2" *ngIf="row.View == 'grid'" [ngClass]="{ 'hidden': (! row.Expanded) }">
        <div class="features features--small" *ngIf="row.Results && (row.Results.length > 0)">
          

          <div class="feature feature--small" *ngFor="let row2 of row.Results;">
            <div class="feature__inner">
              <div class="feature__head">
                <h6>{{ row.Symbol }}</h6>
                <!-- <i class="ico-check-circle feature__ico"></i> -->
              </div>
              

              <!-- Put Credit Spread - Grid -->
              <ng-container *ngIf="row.Strategy == 'put-credit-spread'">

                <div class="feature__body">

                  <div class="table-simple table-simple--small">
                    <table>
                      <thead>
                        <tr>
                          <th><ins>Expire</ins></th>
                          <th><ins>Spread</ins></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>{{ row2.Legs[0].OptionExpire | date:'shortDate' }}</td>
                          <td>{{ row2.Legs[0].OptionStrike }} / {{ row2.Legs[1].OptionStrike }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-simple table-simple--small table-simple--small-size1a">
                    <table>
                      <thead>
                        <tr>
                          <th><ins>Put % Away</ins></th>
                          <th><ins>Credit</ins></th>
                          <th><ins>Midpoint</ins></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>{{ row2.PutPrecentAway | number:'1.2-2' }}%</td>
                          <td>{{ row2.Credit | currency:'USD':'symbol':'1.2-2' }}</td>
                          <td>{{ row2.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </ng-container>






              <!-- Iron Condor - Grid -->
              <ng-container *ngIf="row.Strategy == 'iron-condor'">

                <div class="feature__body">

                  <div class="table-simple table-simple--small">
                    <table>
                      <thead>
                        <tr>
                          <th><ins>Expire</ins></th>
                          <th><ins>Condor</ins></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>{{ row2.Legs[0].OptionExpire | date:'shortDate' }}</td>
                          <td>{{ row2.Legs[0].OptionStrike }} / {{ row2.Legs[1].OptionStrike }} / {{ row2.Legs[2].OptionStrike }} / {{ row2.Legs[3].OptionStrike }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-simple table-simple--small table-simple--small-size1a">
                    <table>
                      <thead>
                        <tr>
                          <th><ins>Put % Away</ins></th>
                          <th><ins>Call % Away</ins></th>
                          <th><ins>Credit</ins></th>
                          <th><ins>Midpoint</ins></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>{{ row2.PutPrecentAway | number:'1.2-2' }}%</td>
                          <td>{{ row2.CallPrecentAway | number:'1.2-2' }}%</td>                          
                          <td>{{ row2.Credit | currency:'USD':'symbol':'1.2-2' }}</td>
                          <td>{{ row2.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </ng-container>





              <!-- Reverse Iron Condor - Grid -->
              <ng-container *ngIf="row.Strategy == 'reverse-iron-condor'">

                <div class="feature__body">

                  <div class="table-simple table-simple--small">
                    <table>
                      <thead>
                        <tr>
                          <th><ins>Expire</ins></th>
                          <th><ins>Condor</ins></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>{{ row2.Legs[0].OptionExpire | date:'shortDate' }}</td>
                          <td>{{ row2.Legs[0].OptionStrike }} / {{ row2.Legs[1].OptionStrike }} / {{ row2.Legs[2].OptionStrike }} / {{ row2.Legs[3].OptionStrike }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-simple table-simple--small table-simple--small-size1a">
                    <table>
                      <thead>
                        <tr>
                          <th><ins>Put % Away</ins></th>
                          <th><ins>Call % Away</ins></th>
                          <th><ins>Debit</ins></th>
                          <th><ins>Midpoint</ins></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>{{ row2.PutPrecentAway | number:'1.2-2' }}%</td>
                          <td>{{ row2.CallPrecentAway | number:'1.2-2' }}%</td>                          
                          <td>{{ row2.Debit | currency:'USD':'symbol':'1.2-2' }}</td>
                          <td>{{ row2.MidPoint | currency:'USD':'symbol':'1.2-2' }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </ng-container>


              <div class="feature__actions">
                <a class="btn btn--size4" (click)="trade(row, row2)">Place Trade</a>
                <!-- <a href="#" class="btn btn--border-blue">View Your Position</a> -->
              </div>

            </div>
          </div>
        </div>




    </div><!-- /.article -->

    
  </div>
</div>