<div class="section-primary section-primary--alt">
    <div class="shell shell--size2">
        <div class="section__body">
            <div class="section__body-inner">
                <div class="widget-options">
                    <h4>Options Cafe Upgrade</h4>

                    <div class="widget__body">
                        <ul class="list-checks">
                            <li>
                                <i class="ico-check-rect"></i>

                                Full access to all features
                            </li>
                            
                            <li>
                                <i class="ico-check-rect"></i>

                                Unlimited accounts
                            </li>
                            
                            <li>
                                <i class="ico-check-rect"></i>

                                Unlimited trades
                            </li>
                            
                            <li>
                                <i class="ico-check-rect"></i>

                                Full support and help
                            </li>
                            
                            <li>
                                <i class="ico-check-rect"></i>

                                Stock screener
                            </li>
                            
                            <li>
                                <i class="ico-check-rect"></i>

                                Something technical
                            </li>
                            
                            <li>
                                <i class="ico-check-rect"></i>

                                Automatic updates and improvements
                            </li>
                            
                            <li>
                                <i class="ico-check-rect"></i>

                                Something involving something
                            </li>

                        </ul><!-- /.list-checks -->
                    </div><!-- /.widget__body -->
                </div><!-- /.widget-options -->

                <div class="section__content">
                    <h4>Have questions? We have answers!</h4>

                    <h6>Can I keep using the free account?</h6>

                    <p>
                        We offer a free trial because we believe that you will see that Options Cafe is a valuable tool that will help you make better trades. After 30 days you are required to update to the paid account. 
                    </p>

                    <h6>What if I change my mind?</h6>

                    <p>You can cancel any time. We also offer a generouse refund for annual accounts, we want you to be happy!</p>

                    <h6>Will you keep making updates and enhancements to the application?</h6>

                    <p>You can cancel any time. We also offer a generouse refund for annual accounts, we want you to be happy!</p>

                    <h6>Will you keep making updates and enhancements to the application?</h6>

                    <p>You can cancel any time. We also offer a generouse refund for annual accounts, we want you to be happy!</p>

                    <h6>Still have questions? Feel free to reach out!</h6>

                    <p>
                        <a href="#">support@optionscafe.com</a>
                    </p>
                </div><!-- /.section__content -->
            </div><!-- /.section__body-inner -->

            <ul class="list-plans list-plans--alt">
                <li>
                    <h4>Monthly Plan</h4>

                    <p>$20/Month – Recurring Payment</p>

                    <a routerLink="/settings/account/upgrade/credit-card" [queryParams]="{plan: 'monthly'}" class="btn btn--pink">Choose This Plan</a>
                </li>

                <li>
                    <h4>ANNUAL PLAN</h4>

                    <p>$200/Year – Recurring Payment</p>

                    <h6 class="title-arrow">Save $40/Year!</h6><!-- /.title-arrow -->

                    <a routerLink="/settings/account/upgrade/credit-card" [queryParams]="{plan: 'yearly'}" class="btn btn--pink">Choose This Plan</a>
                </li>
            </ul><!-- /.list-plans -->
            
            <div class="section__foot section__foot--alt">
                <p>If you wish to cancel your account, click here. If you have any questions please contact us.</p>

                <a href="#" class="btn btn--border">Cancel Account</a>
            </div><!-- /.section__foot -->
        </div><!-- /.section__body -->
    </div><!-- /.shell -->
</div><!-- /.section-primary -->
