# {{ ansible_managed }}

version: '2.1'

services:

  # App
  app:
           
    hostname: app.options.cafe

    container_name: app.options.cafe         

    ports:
      - "80:7080"
      - "443:7043"

    build:
      context: ./build
      dockerfile: Dockerfile
      args:
        P_UID: 1002
        P_GID: 1002     
    
    image: app.options.cafe/golang:1.8.1-alpine

    logging:
      driver: "syslog"
      options:
        syslog-address: tcp+tls://logs6.papertrailapp.com:49242
        tag: app.options.cafe

    volumes:
      - ../cache:/cache:rw
      - ../letsencrypt:/letsencrypt:rw 

    environment:
      VIRTUAL_HOST: app.options.cafe
      LETSENCRYPT_HOST: app.options.cafe
      LETSENCRYPT_EMAIL: help@options.cafe                     

    restart: always
    
    env_file:
      - .env      
                      
    networks:
      - shared 

  # Worker 1
  worker1:
           
    hostname: worker1.options.cafe

    container_name: worker1.options.cafe

    build:
      context: ./build
      dockerfile: Dockerfile
      args:
        P_UID: 1002
        P_GID: 1002     
    
    image: app.options.cafe/golang:1.8.1-alpine

    command: ./app --cmd=worker

    logging:
      driver: "syslog"
      options:
        syslog-address: tcp+tls://logs6.papertrailapp.com:49242
        tag: worker1.options.cafe                    

    restart: always
    
    env_file:
      - .env      
                      
    networks:
      - shared 

  # Broker Feed Poller
  brokerfeedpoller:
           
    hostname: broker-feed-poller.options.cafe

    container_name: broker-feed-poller.options.cafe

    build:
      context: ./build
      dockerfile: Dockerfile
      args:
        P_UID: 1002
        P_GID: 1002     
    
    image: app.options.cafe/golang:1.8.1-alpine

    command: ./app --cmd=broker-feed-poller

    logging:
      driver: "syslog"
      options:
        syslog-address: tcp+tls://logs6.papertrailapp.com:49242
        tag: broker-feed-poller.options.cafe                    

    restart: always
    
    env_file:
      - .env 

    depends_on:
      - nsqd            
                      
    networks:
      - shared                   

  # Cron
  cron:
           
    hostname: cron.options.cafe

    container_name: cron.options.cafe
    
    build:
      context: ./build
      dockerfile: Dockerfile
      args:
        P_UID: 1002
        P_GID: 1002       
    
    image: cron.options.cafe/golang:1.8.1-alpine

    command: ./app --cmd=cron              

    logging:
      driver: "syslog"
      options:
        syslog-address: tcp+tls://logs6.papertrailapp.com:49242
        tag: cron.options.cafe

    volumes:
      - ../cache:/cache:rw

    restart: always
    
    env_file:
      - .env      
                      
    networks:
      - shared    

  # Redis 4.0
  redis:

    hostname: redis.options.cafe

    container_name: redis.options.cafe

    ports:
      - "127.0.0.1:6379:6379"

    image: redis:4.0

    restart: always

    logging:
      driver: "syslog"
      options:
        syslog-address: tcp+tls://logs6.papertrailapp.com:49242
        tag: redis.options.cafe

    networks:
      - shared         
  
  # nsqlookupd    
  nsqlookupd:
  
    image: nsqio/nsq
    
    container_name: nsqlookupd.options.cafe
    
    hostname: nsqlookupd.options.cafe

    user: 1002:1002    
      
    restart: always 
    
    command: /nsqlookupd 
    
    networks:
      - shared


  # nsqd    
  nsqd:
  
    image: nsqio/nsq
    
    container_name: nsqd.options.cafe
    
    hostname: nsqd.options.cafe

    user: 1002:1002
      
    restart: always 
    
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160 --data-path=/tmp
    
    networks:
      - shared


  # nsqadmin    
  nsqadmin:
  
    image: nsqio/nsq
    
    container_name: nsqadmin.options.cafe
    
    hostname: nsqadmin.options.cafe

    user: 1002:1002    
      
    restart: always 
    
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161

    depends_on:
      - nsqlookupd  

    ports:
      - 127.0.0.1:4171:4171      
 
    networks:
      - shared

networks:
  shared:
    external:
      name: shared 