<div class="content">
	
	<div class="content-head">

		<div class="tabs">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation">
					<a href="" aria-controls="tab1" role="tab" data-toggle="tab">&nbsp;</a>
				</li>
				
				<li role="presentation">
					<a href="" aria-controls="tab2" role="tab" data-toggle="tab">&nbsp;</a>
				</li>
				
				<li role="presentation">
					<a href="" aria-controls="tab3" role="tab" data-toggle="tab">&nbsp;</a>
				</li>
				
				<li role="presentation" class="active">
					<a href="" aria-controls="tab4" role="tab" data-toggle="tab">Dashboard</a>
				</li>
				
				<li role="presentation">
					<a href="" aria-controls="tab5" role="tab" data-toggle="tab">Screener</a>
				</li>
				
				<li role="presentation">
					<a href="" aria-controls="tab6" role="tab" data-toggle="tab">Backtest</a>
				</li>

				<li role="presentation">
					<a href="" aria-controls="tab7" role="tab" data-toggle="tab">&nbsp;</a>
				</li>
				
				<li role="presentation">
					<a href="" aria-controls="tab8" role="tab" data-toggle="tab">&nbsp;</a>
				</li>
				
				<li role="presentation">
					<a href="" aria-controls="tab9" role="tab" data-toggle="tab">&nbsp;</a>
				</li>
			</ul>
		</div><!-- /.tabs -->
	</div><!-- /.content-head -->
	
  <div class="content-body">
    <div class="tabs">

      <div class="zone-content section-styleguide dashboard">
        
        <div [hidden]="! ws_reconnecting" class="bg-warning text-white" style="margin-bottom: 10px;">Reconnecting to the server...</div>
      	
      	<div class="row">
          <oc-watchlist></oc-watchlist>
          
          <div class="col-md-9">
            
            <oc-orders></oc-orders>
            
          </div>
          
      	</div>
      	
      </div>
    
    </div>
  </div>

</div>